<template>
  <div class="modal_undefined_pass">
    <div class="modal_overlay_alert">
      <div class="modal_alert">
        <div class="modal_window_alert fadeInDown" v-wow>
          <div class="modal_header modal_reg_header">
            <span class="modal_title">Благодарим, Ваша заявка принята.</span>
            <div>
              <p class="modal_reg_p">Ответ будет предоставлен на электронную почту в течение 3 дней.</p>
            </div>
          </div>
          <div class="modal_body">
            <router-link to="/">
              <a href="" class="reg_btn">
                <span>{{$store.state.transData['Выйти на главную страницу']}}</span>
              </a>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.modal_reg_p{
  font-size: 16px;
  font-family: "FiraSans-Bold";
}
.modal_reg_header{
  display: flex;
  flex-direction: column;
}
</style>
