<template>
   <div v-wow class="my_point zoomIn">
        <Loader v-if="loader == true" style="top: 120px" />
        <div v-else>
        <b-container>
            <b-row>
                <b-col md="12">
                    <h2 class="true_point">{{$store.state.transData['Полученные баллы']}}</h2>
                </b-col>
            </b-row>
        </b-container>
        <myPointBlock v-for="(point,index) in myPoint" :key="index" :myPoint="point"></myPointBlock>
        </div>
    </div>
</template>

<script>
import myPointBlock from '@/components/accountComponents/accountBlockComponents/myPointBlock'
import axios from 'axios'
import Loader from '@/views/Loader'
export default {
  data(){
    return{
      myPoint: [],
      loader: true
    }
  },
  methods: {
    loaderFunc(){
      this.loader = false
    }
  },
  components: {
    myPointBlock,
    Loader
  },
  async mounted(){
    this.loader = true
    let selectItem = localStorage.getItem('language')
    if(localStorage.getItem('language') ){
      let select = JSON.parse(selectItem)
      await axios({
        method: 'get',
        url: `${this.$store.state.url}users/test/received-points`,
        headers: {
          Authorization: `Bearer ${localStorage.usertoken}`,
          'Content-Language' : select.title.toLowerCase()
        }
      })
      .then(res => this.myPoint = res.data.data)
      .then(this.loader = true)
    }else{
      await axios({
        method: 'get',
        url: `${this.$store.state.url}users/test/received-points`,
        headers: {
          Authorization: `Bearer ${localStorage.usertoken}`,
          'Content-Language' : 'ru'
        }
      })
      .then(res => this.myPoint = res.data.data)
      .then(this.loader = true)
    }
      await this.loaderFunc()
  }
}
</script>

<style>

</style>
