<template>
  <div class="point_card">
      <b-container>
          <b-row>
              <b-col md="12" class="point_card_h2">
                  <h2>{{myPoint.name}}</h2>
              </b-col>
          </b-row>
      </b-container>
      <b-container>
          <b-row class="pointCardBox_mob">
            <pointCardBox v-for="(point,index) in myPoint.attempts" :point="point" :key="index"></pointCardBox>
          </b-row>
      </b-container>
  </div>
</template>

<script>
import pointCardBox from '@/components/accountComponents/accountBlockComponents/pointCardBox'
export default {
  data: () => ({

  }),
  components: {
    pointCardBox
  },
  props: ['myPoint']
}
</script>

<style>

</style>
