<template>
  <b-col md="3" xl="3" lg="3" xs="12" sm="12" class="acc_card">
      <div class="acc_card_descr">
          <h3>{{test.name}}</h3>
          <div class="acc_bable">
              <span>{{test.status}}</span>
          </div>
      </div>
      <b-row  class="acc_ball m_0">
          <h2 class="acc_ball_1">{{test.max_ball}} баллов</h2>
          <a v-if="test.button_status == 1" @click="returnTest()">пройти тест еще раз</a>
          <a v-else></a>
      </b-row>
  </b-col>
</template>

<script>
import axios from 'axios'
export default {
  data(){
    return {
      testInfo: '',
      profession: '',
    }
  },
  props: ['test'],
  mounted(){
    let selectItem = localStorage.getItem('language')
    if(localStorage.getItem('language') ){
      let select = JSON.parse(selectItem)
    axios({
      method: 'post',
      url: `${this.$store.state.url}users/test/info`,
      headers: {
        Authorization: `Bearer ${localStorage.usertoken}`,
        'Content-Language' : select.title.toLowerCase()
      },
      data: {
        lesson_id: this.test.lesson_id
      }
    })
    .then(res => this.testInfo = res.data.data)
    axios({
      method: 'get',
      url: `${this.$store.state.url}users/profile`,
      headers: {
        Authorization: `Bearer ${localStorage.usertoken}`,
        'Content-Language' : select.title.toLowerCase()
      },
    }).then(res => this.profession = res.data.data.profession)
    }else{
      let select = JSON.parse(selectItem)
    axios({
      method: 'post',
      url: `${this.$store.state.url}users/test/info`,
      headers: {
        Authorization: `Bearer ${localStorage.usertoken}`,
        'Content-Language' : 'ru'
      },
      data: {
        lesson_id: this.test.lesson_id
      }
    })
    .then(res => this.testInfo = res.data.data)
    axios({
      method: 'get',
      url: `${this.$store.state.url}users/profile`,
      headers: {
        Authorization: `Bearer ${localStorage.usertoken}`,
        'Content-Language' : 'ru'
      },
    }).then(res => this.profession = res.data.data.profession)
    }

  },
  methods: {
    returnTest(){
      if(this.profession == "Доктор"){
        this.$router.push({name:'testDoctorBlock', params: {id : this.testInfo.id, attempts_test: this.testInfo.attempts}})
      }else{
        this.$router.push({name:'testblock', params: {id : this.testInfo.id, attempts_test: this.testInfo.attempts}})
      }
    }
  }
}
</script>

<style>

</style>
