<template>
  <div v-wow class="block_acc_wrap zoomIn">
    <Loader v-if="loader == true" style="top: 120px" />
    <div v-else>
      <div class="block_acc_nav_descr">
        <b-container>
            <b-row>
                <b-col md="12" xl="12" lg="12" xs="12" sm="12" class="block_acc_nav_descr_h2">
                    <h2>{{$store.state.transData['Пройденные тесты']}}</h2>
                </b-col>
            </b-row>
        </b-container>
      </div>
      <b-container class="acc_card_block">
          <b-row class="pd_0 m_0">
              <passedTestBlock v-for="(test, index) in passed" :test="test" :key="index"></passedTestBlock>
          </b-row>
      </b-container>
    </div>
</div>
</template>

<script>
import axios from 'axios'
import Loader from '@/views/Loader'
import passedTestBlock from '@/components/accountComponents/accountBlockComponents/passedTestBlock'
export default {
  data(){
    return{
      passed: [],
      loader: true
    }
  },
  components: {
    passedTestBlock,
    Loader
  },
  methods: {
    loaderFunc(){
      this.loader = false
    }
  },
  async mounted(){
    this.loader = true
    let selectItem = localStorage.getItem('language')
    if(localStorage.getItem('language') ){
      let select = JSON.parse(selectItem)
      await axios({
        method: 'get',
        url: `${this.$store.state.url}users/test/passed-tests`,
        headers: {
          Authorization: `Bearer ${localStorage.usertoken}`,
          'Content-Language' : select.title.toLowerCase()
        }
      })
      .then(res => this.passed = res.data.data)
    }else{
      let select = JSON.parse(selectItem)
      await axios({
        method: 'get',
        url: `${this.$store.state.url}users/test/passed-tests`,
        headers: {
          Authorization: `Bearer ${localStorage.usertoken}`,
          'Content-Language' : 'ru'
        }
      })
      .then(res => this.passed = res.data.data)

    }
    await this.loaderFunc()
  }
}
</script>

<style>

</style>
