<template>
  <b-col md="3" class="point_card_box">
      <div class="point_card_descr">
          <h3>{{point.attempt}}</h3>
          <div class="point_bable">
              <span>{{point.status}}</span>
          </div>
      </div>
      <b-row class="row_items">
          <h2 class="point_ball_1">{{point.score}}</h2>
      </b-row>
  </b-col>
</template>

<script>
export default {
  props: ['point']
}
</script>

<style>
  .point_ball_2{
    font-size: 14px;
  }
</style>
