<template>
  <div class="modal_undefined_pass">
    <div class="modal_overlay_alert">
    <Loader v-if="loader" style="top: 10%; left: 43%" />
      <div v-else class="modal_alert">
        <div class="modal_window_alert fadeInDown" v-wow>
          <div class="modal_header modal_reg_header">
            <span class="modal_title">{{result.title}} {{result.content}}</span>
          </div>
          <div class="modal_body">
            <div v-if="result.attempts_left > 0">
              <p class="modal_reg_p">{{$store.state.transData['Если Вы хотите улучшить свой результат, то Вы можете пройти тест еще раз.']}}</p>
              <p class="modal_reg_p">{{$store.state.transData['Общее кол-во попыток']}}: {{result.attempts_left}}.</p>
            </div>
            <div v-else>
              <p class="modal_reg_p">К сожалению, все Ваши попытки уже исчерпаны</p>
            </div>
            <router-link to="/Anketa" v-if="result.questionnaire_status == 1" class="reg_btn tst_btn">
                <span>Заполнить анкету</span>
            </router-link>
            <!-- <router-link  :to="{path: '/account/testblock', params: {attempts_test_farm: result.attempts_left, id: test_id}}"> -->
              <a v-if="result.attempts_left > 0" @click="$emit('testStart')" class="reg_btn tst_btn">
                <span>{{$store.state.transData['Пройти тест еще раз']}}</span>
              </a>
            <!-- </router-link> -->
            <router-link to="/" class="reg_btn tst_btn">
                <span>{{$store.state.transData['Выйти на главную страницу']}}</span>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from '@/views/Loader'
export default {
  data(){
    return {
      loader: true,
      testId: localStorage.getItem('testId')
    }
  },
  methods: {

  },
  components: {
    Loader
  },
  props: ['result', 'test_id'],

  mounted(){
    if(this.$store.state.finish){
      setTimeout(() => {
        this.loader = false
      }, 2000);
    }else{
      this.loader = true
    }
  }
}
</script>

<style>
.modal_reg_p{
  font-size: 16px;
  font-family: "FiraSans-Bold";
}
.modal_reg_header{
  display: flex;
  flex-direction: column;
}
.tst_btn{
  margin-bottom: 15px;
}
</style>
