<template v-wow class="zoomIn">
<Loader v-if="loader == true" style="top: 120px" />
<div v-else>
<div v-if="attempts_test > 0" >
<paginate ref="paginator" name="quiz.question" :list="quiz.question" :per="1">
<div class="test_block" v-for="q in paginated('quiz.question')" :key="q.order">
    <b-container>
        <b-row>
            <b-col md="12">
                <h2 class="true_point">{{q.name}}</h2>
                <h3 class="blue_h3">Вопрос №{{q.order}}</h3>
                <h3 class="question_descr">{{q.description}}</h3>
            </b-col>
        </b-row>
    </b-container>
    <b-container>
        <b-row>
            <b-col md="12">
                <form class="radio_form" >
                    <div v-for="(a, index) in q.answers" :key="index">
                        <input type="radio" class="radio" :id="a.id" v-model="a.checked" @click="checkAnswer[q.order - 1].question_id = q.id, checkAnswer[q.order - 1].answer_id = a.id, agree[q.order - 1] = true" name="group" />
                        <label class="radio_test" :for="a.id">{{a.text}}</label>
                    </div>
                    <div>
                      <h4>Свой ответ:</h4>
                      <input
                        v-model="own_answer"
                        @input="inputChange($event ,q.order, q.id)"
                        type="text"
                        name="group"
                        :id="'question' + q.id"
                        class="input_form wrap_input">
                    </div>
                </form>
            </b-col>
        </b-row>
    </b-container>
    <b-container>
        <b-row class="m_0" >
            <b-col v-if="agree[q.order - 1]" md="12" @click="goNextPage(q.order)" class="test_wrap_next left-arrow">
                <h3 class="test_go_next">Следующий вопрос</h3>
            </b-col>
        </b-row>
        <b-row class="m_0">
            <b-col md="12" @click="goPrevPage(q.order)" class="test_cancel right-arrow">
                <h3 class="test_cancel_descr">Назад</h3>
            </b-col>
            <b-col v-if="text" md="12">
                <h3 class="test_err">{{errorTest}}</h3>
            </b-col>
        </b-row>
        <!-- <b-row class="m_0">
            <b-col md="12" @click="goNextPage(q.id)" class="test_wrap_next left-arrow">
                <h3 class="test_go_next">Следующий вопрос</h3>
            </b-col>
        </b-row> -->
    </b-container>
</div>
</paginate>
    <b-container>
        <b-row>
            <b-col md="8">
                <paginate-links for="quiz.question" :list="quiz.question"
                                                    :show-step-links="false"
                                                    :limit="1"
                            class="pagination_test"></paginate-links>
            </b-col>
            <b-col md="4">
                <div class="times_test">Осталось времени:
                  <strong>
                    <countdown v-if="enable" ref="countdown" :auto-start="true" :time="Number(this.attempt_id.data.data.time[3] + this.attempt_id.data.data.time[4]) * 60 * 1000">
                      <template slot-scope="props">{{ props.minutes }}:{{ props.seconds }}</template>
                    </countdown>
                  </strong>
                </div>
            </b-col>
        </b-row>
    </b-container>
<testModal :test_id="attempt_id.data.data.attempt_id" @testStart="testStart()" :result="resultFarma" v-if="showModal"></testModal>
</div>
  <div v-else>
    <p class="attempt_finish">К сожалению, все Ваши попытки уже исчерпаны</p>
  </div>
</div>
</template>

<script>
import Loader from '@/views/Loader'
import testModal from '@/components/accountComponents/accountBlockComponents/testModal'
import axios from 'axios'
export default {
    data(){
        return{
            paginate: ['quiz.question'],
            quiz: {
                question: []
            },
            showModal: false,
            attempt_id: '',
            time: '',
            enable: false,
            agree: [],
            checkAnswer: [],
            resultFarma: '',
            errorTest: '',
            own_answer: '',
            text: false,
            loader: true
        }
    },

    components: {
      testModal, Loader
    },
    props: ['id', 'attempts_test', 'attempts_test_farm'],
    methods: {
        loaderFunc(){
          this.loader = false
        },
        inputChange(e, order, id){
          let inputRadio = document.querySelectorAll('.radio');
          inputRadio.forEach(item => item.checked = false)
          this.checkAnswer[order - 1].answer_id = '';
          this.checkAnswer[order - 1].question_id = id;
          this.checkAnswer[order - 1].own_answer = this.own_answer;
          this.agree[order - 1] = true
          console.log(this.checkAnswer)
        },
        goToFirstPage(){
          if(this.$refs.paginator){
            this.$refs.paginator.goToPage(1)
          }
        },
        goNextPage(id){
            id = id + 1;
            this.text = false
            this.own_answer = ''
            if(id <= this.quiz.question.length){
                this.$refs.paginator.goToPage(id);
            }else if(id > this.quiz.question.length){
                let fullTest = this.agree.filter(item => item == true)
                if(fullTest.length == this.quiz.question.length){
                  this.showModal = true
                  this.text = false
                  let selectItem = localStorage.getItem('language')
                  if(localStorage.getItem('language') ){
                    let select = JSON.parse(selectItem)
                    axios({
                      method: 'post',
                      url: `${this.$store.state.url}users/test/finish`,
                      headers: {
                        Authorization: `Bearer ${localStorage.usertoken}`,
                        'Content-Language' : select.title.toLowerCase()
                      },
                      data: {
                        attempt_id: this.attempt_id.data.data.attempt_id,
                        answers: this.checkAnswer
                      }
                    })
                    .then(res => this.resultFarma = res.data.data)
                    .then(this.$store.state.finish = true)
                  }else{
                    axios({
                      method: 'post',
                      url: `${this.$store.state.url}users/test/finish`,
                      headers: {
                        Authorization: `Bearer ${localStorage.usertoken}`,
                        'Content-Language' : 'ru'
                      },
                      data: {
                        attempt_id: this.attempt_id.data.data.attempt_id,
                        answers: this.checkAnswer
                      }
                    })
                    .then(res => this.resultFarma = res.data.data)
                    .then(this.$store.state.finish = true)
                  }
                }else{
                  this.text = true
                  this.errorTest = 'Вы должны ответить на все вопросы'
                }
            }
        },
        goPrevPage(id){
            id = id - 1;
            if(id >= 1){
                this.$refs.paginator.goToPage(id);
            }
        },
        async testStart(){
          this.showModal = false;
          this.goToFirstPage();
          this.enable = false;
          let selectItem = localStorage.getItem('language')
          if(localStorage.getItem('language') ){
            let select = JSON.parse(selectItem)
            await axios({
              method: 'post',
              url: `${this.$store.state.url}users/test/start`,
              headers: {
                Authorization: `Bearer ${localStorage.usertoken}`,
                'Content-Language' : select.title.toLowerCase()
              },
              data: {
                test_id: this.id
              }
            })
            .then(response => this.attempt_id = response)
            .then(res => this.quiz.question = res.data.data.tests)
            .then(res => {
                for(let i = 0; i < this.quiz.question.length; i++){
                  this.checkAnswer.push(this.checkAnswer[i] = {question_id: '', answer_id: '', own_answer: ''})
                  this.agree.push(this.agree[i] = false)
              }
            })
          }else{
            let select = JSON.parse(selectItem)
            await axios({
              method: 'post',
              url: `${this.$store.state.url}users/test/start`,
              headers: {
                Authorization: `Bearer ${localStorage.usertoken}`,
                'Content-Language' : 'ru'
              },
              data: {
                test_id: this.id
              }
            })
            .then(response => this.attempt_id = response)
            .then(res => this.quiz.question = res.data.data.tests)
            .then(res => {
                for(let i = 0; i < this.quiz.question.length; i++){
                  this.checkAnswer.push(this.checkAnswer[i] = {question_id: '', answer_id: '', own_answer: ''})
                  this.agree.push(this.agree[i] = false)
              }
            })
          }
          this.enable = true;
        }
    },
    async mounted(){
      this.loader = true
      window.scrollTo(-50, -50);
      await this.testStart()
      await this.loaderFunc()
    }
}
</script>

<style>
.pagination_test>.number{
    display: inline-flex;
    width: 50px;
    height: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 4px 4px 0px #CCF;
    box-shadow: 0px 4px 4px 0px #CCF;
    margin: 0px 5px;
    border-radius: 5px;
}
.pagination_test>.active{
    background-color: #003c71 !important;
    color: #fff !important;
}
.attempt_finish{
  padding: 40px 0px;
  text-align: center;
}
.test_err{
  font-family: "FiraSans-Bold";
  color: red;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
