<template>
  <div v-wow class="test_result_block zoomIn">
    <b-container>
        <b-row>
            <b-col md="12">
                <h2 class="true_point">Результат теста</h2>
            </b-col>
        </b-row>
    </b-container>
    <b-container>
        <b-row>
            <b-col md="12">
                <h3 class="success_h2">{{pointResult()}}</h3>
                <h3 class="test_result">Вы набрали {{resultArr()}} баллов из 10</h3>
            </b-col>
        </b-row>
        <b-row class="row_m">
            <b-col md="12" class="test_wrap_next">
                <router-link to="/account"><h3 class="test_go_next">Завершить</h3></router-link>
            </b-col>
            <b-col md="12" class="test_cancel">
                <router-link to="/account/testBlock"><h3 class="test_cancel_descr">{{$store.state.transData['Пройти тест еще раз']}}</h3></router-link>
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script>
export default {
    data(){
        return{
            success: '',
            good: '',
            bad: '',
            correctArr: this.$store.state.correctArr
        }
    },
    methods: {
        resultArr: function(){
            let result = this.$store.state.correctArr.filter((value) => {return value})
            return result.length;
        },
        pointResult: function(){
            if(this.resultArr() <= 10 && this.resultArr() > 7){
                return this.success = 'Отлично!'
            }else if(this.resultArr() < 7 && this.resultArr() >= 5){
                return this.good = 'Хорошо!'
            }else{
                return this.bad = 'Плохо'
            }
        }

        // restore: function(){
        //     this.$store.replaceState()
        // }
    },
}
</script>

<style>
    .test_result_block{
        display: block;
    }
    .test_wrap_next, .test_cancel{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
