<template>
  <div v-wow class="video_prosmotr zoomIn">
    <Loader v-if="loader == true" style="top: 120px" />
    <div v-else>
      <b-container>
        <b-row>
            <b-col md="12">
                <h2 class="true_point">{{$store.state.transData['Просмотренные видеоуроки']}}</h2>
            </b-col>
        </b-row>
    </b-container>
    <videoBlockProsmotr v-for="q in videoData.data" :key="q.id" @showModal="showVideoModal(q.id)" :videoProps="q"></videoBlockProsmotr>
    </div>
    <videoModal v-if="videoModal" :modalNumber="idx" @closeVideoModal="videoModal = false"></videoModal>
  </div>

</template>

<script>
import axios from 'axios'
import videoModal from '@/components/accountComponents/videoModal/videoModal'
import videoBlockProsmotr from '@/components/accountComponents/videoComponent/videoBlockProsmotr'
import Loader from '@/views/Loader'

export default {
    components: {
      videoModal,
      videoBlockProsmotr,
      Loader
    },
    data(){
      return{
        videoModal: false,
        agree: false,
        videoData: '',
        idx: '',
        loader: true
      }
    },
    async mounted(){
      let selectItem = localStorage.getItem('language')
      if(localStorage.getItem('language') ){
        let select = JSON.parse(selectItem)
        await axios
          .get(`${this.$store.state.url}users/watched-video-lessons`, {
            headers: {
              Authorization: `Bearer ${localStorage.usertoken}`,
              'Content-Language' : select.title.toLowerCase()
            }
          })
          // .then(res => console.log(res.data.data))
          .then(res => this.videoData = res.data)
      }else{
        await axios
          .get(`${this.$store.state.url}users/watched-video-lessons`, {
            headers: {
              Authorization: `Bearer ${localStorage.usertoken}`,
              'Content-Language' : 'ru'
            }
          })
          .then(res => this.videoData = res.data)
      }
      await this.loaderFunc()
    },
    methods: {
      loaderFunc(){
        this.loader = false
      },
      showVideoModal(id){
        this.idx = id
        this.videoModal = true
      }
    }
}
</script>

<style>

</style>
