<template>
  <div v-wow class="videouroki zoomIn">
    <Loader v-if="loader == true" style="top: 120px" />
    <div class="video_uroki_block">
        <b-container>
            <b-row>
                <b-col md="12">
                    <h2 class="true_point">{{$store.state.transData['Видеоуроки']}}</h2>
                </b-col>
            </b-row>
        </b-container>
        <videoBlock v-for="q in videoData.data" :key="q.id" @showModal="showVideoModal(q.id)" :videoProps="q"></videoBlock>
    </div>
    <videoModal v-if="videoModal" :modalNumber="idx" @closeVideoModal="videoModal = false"></videoModal>
</div>
</template>

<script>
import axios from 'axios'
import videoBlock from '@/components/accountComponents/videoComponent/videoBlock'
import videoModal from '@/components/accountComponents/videoModal/videoModal'
import Loader from '@/views/Loader'
export default {
    data(){
        return{
          videoModal: false,
          videoData: '',
          idx: '',
          loader: true
        }
    },
    components: {
      videoBlock,
      videoModal,
      Loader
    },
    async mounted(){
      let selectItem = localStorage.getItem('language')
      if(localStorage.getItem('language') ){
        let select = JSON.parse(selectItem)
        await axios
          .get(`${this.$store.state.url}users/video-lessons`, {
            headers: {
              Authorization: `Bearer ${localStorage.usertoken}`,
              'Content-Language' : select.title.toLowerCase()
            }
          })
          .then(res => this.videoData = res.data)
      }else{
        await axios
        .get(`${this.$store.state.url}users/video-lessons`, {
          headers: {
            Authorization: `Bearer ${localStorage.usertoken}`,
            'Content-Language' : 'ru'
          }
        })
        .then(res => this.videoData = res.data)
      }
      await this.loaderFunc()
    },
    methods: {
      showVideoModal(id){
         this.idx = id
         this.videoModal = true
      },
      loaderFunc(){
        this.loader = false
      }
    }

}
</script>

<style>

</style>
