<template>
  <footer class="slideInLeft" v-wow data-wow-duration="2.5s">
        <b-container>
            <b-row>
                <b-col md="12" sm="12" cols="12" xl="12" lg="12">
                    <b-row>
                        <b-col md-4 xl="4" sm="12" cols="12" lg="4" class="copyright">
                          <p>{{copyright}}</p>
                        </b-col>
                        <b-col md="4" xl="4" sm="12" cols="12" lg="4" class="feedback">
                          <ul>
                            <li><a @click="$emit('openFeedBack')">Обратная связь</a></li>
                            <router-link to="/FAQ" tag="li">Вопросы и ответы</router-link>
                            <router-link to="/farmanadzor" tag="li">Фармаконадзор</router-link>
                          </ul>
                        </b-col>
                        <b-col md="4" xl="4" sm="12" cols="12" lg="4" class="alux">
                            <p>{{this.$store.state.transData['Разработано в']}}</p><a href=""><img src="../../assets/img/logo-services.png" alt=""></a>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>
    </footer>
</template>

<script>
import axios from 'axios'
export default {
  data(){
    return{
      copyright: ''
    }
  },
  mounted(){
    let selectItem = localStorage.getItem('language')
    if(localStorage.getItem('language') ){
      let select = JSON.parse(selectItem)
      axios
      .get(`${this.$store.state.url}users/copyright`, {headers: {'Content-Language' : select.title.toLowerCase()}})
      .then(res => this.copyright = res.data.data.copyright)
    }else{
      axios
      .get(`${this.$store.state.url}users/copyright`, {headers: {'Content-Language' : 'ru'}})
      .then(res => this.copyright = res.data.data.copyright)
    }
  }
}
</script>

<style scoped>
    .alux>p, .alux>a{
    display: inline-block;
    }

    .feedback{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 5px;
    }

    .feedback ul li > a{
      cursor: pointer;
    }
    .feedback ul li{
      cursor: pointer;
    }
    .feedback ul li:hover{
      color: #84bd00;
    }
    .feedback ul li > a:hover{
      color: #84bd00;
    }
    .feedback ul {
      list-style-type: none;
      padding: 0;
    }

    .alux{
    text-align: right;
    }

    .alux>p, .copyright>p{
    font-size: 14px;
    color: #c6c7c8;
    }

    .alux>a{
    padding-left: 15px;
    }
    .m_0{
    margin: 0;
    }
</style>
