<template>
    <div class="blue_wrap">

        <b-container>

            <b-row class="blue_wrap_flex">

                <!-- <b-col md="12" sm="12" xl="12" lg="12" cols="12" > -->

                    <b-col md="12" lg="1" xl="1" sm="12" cols="12">

                        <div class="ft_logo"><img :src="logoDescr.logotype" alt=""></div>

                    </b-col>

                    <b-col md="12" xl="3" cols="12" sm="12" lg="3" class="p_ft zoomIn" v-wow data-wow-duration="2s">
                        <p>{{logoDescr.text}}</p>
                    </b-col>
                    <b-col md="3" xl="3" cols="12" sm="12" lg="3">

                        <b-row>
                            <b-col md="4" sm="4" xl="4" cols="4" lg="4" class="txt_center">
                                <div class="soc_icon zoomIn" v-wow data-wow-duration="2s">
                                    <a href="https://www.instagram.com/bionorica.kz/?igshid=6d4ojrnyclxk">
                                      <img src="../../assets/img/insta_icon.png" alt="">
                                    </a>
                                </div>
                            </b-col>
                            <b-col md="4" sm="4" xl="4" cols="4" lg="4" class="txt_center">
                                <div class="soc_icon zoomIn" v-wow data-wow-duration="2s">
                                    <a href="https://www.facebook.com/bionorica.kz/?ref=br_rs">
                                      <img src="../../assets/img/facebook.png" alt="">
                                    </a>
                                </div>
                            </b-col>
                            <b-col md="4" sm="4" xl="4" cols="4" lg="4" class="txt_center">
                                <div class="soc_icon zoomIn" v-wow data-wow-duration="2s">
                                    <a href="https://mnlp.cc/mini?domain=bionorica&id=1">
                                      <img style="margin-top: -5px" src="../../assets/img/telega.svg" alt="">
                                    </a>
                                </div>
                            </b-col>
                        </b-row>
                    </b-col>
<!--
                    <b-col md="4" xl="3" sm="12" lg="3" cols="12">

                        <div class="geo_block zoomIn" v-wow data-wow-duration="2s">

                            <img src="../../assets/img/geo_img.png" alt="">

                            <h2>Наш адрес</h2>

                            <p>Алматы, ул. Красная 19</p>

                        </div>

                    </b-col>

                    <b-col md="4" xl="3" sm="12" lg="3" cols="12">

                        <div class="phone_block zoomIn" v-wow data-wow-duration="2s">

                            <img src="../../assets/img/phone.png" alt="">

                            <h2>+7 (727) 317-16-98</h2>

                            <p>info@mail.ru</p>

                        </div>

                    </b-col> -->

                <!-- </b-col> -->

            </b-row>

        </b-container>

    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data(){
    return {
      logoDescr: ''
    }
  },
  methods: mapActions(['fetchLogo']),
  async mounted(){
    await this.fetchLogo()
    this.logoDescr = this.$store.state.logo
  },
}
</script>

<style>

.ft_logo>img{
  width: 100%;
  max-width: 130px;
}
.blue_wrap {
    background-color: #003c71;
    width: 100%;
    min-height: 120px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.p_ft {
    color: #fff;
    font-size: 14px;
    font-family: "FiraSans-Regular";
}

.blue_wrap_flex {
  display: flex;
  align-items: center;
}

.soc_icon {
  background-color: #fff;
  border-radius: 5px;
  width: 75px;
  height: 55px;
  margin: auto;
}

.soc_icon>a {
  text-align: center;
  display: block;
  padding: 12px 0px;
}

.txt_center {
  text-align: center;
  padding: 25px;
}

.geo_block,
.phone_block {
  color: #fff;
  text-align: right;
}

.geo_block h2,
.phone_block h2 {
    display: inline;
    padding-left: 10px;
    font-size: 24px;
    font-family: "FiraSans-Bold";
}

.geo_block p,
.phone_block p {
    font-size: 16px;
    margin: 0;
}

.soc_icon:hover {
    transform: scale(0.9);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
@media screen and (max-width: 480px){
  .soc_icon {
    background-color: #fff;
    border-radius: 5px;
    width: 105px;
    display: flex;
    height: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}
</style>
