<template>
  <div>
    <b-container>
      <b-row>
          <b-col md="12">
            <div class="acc_nav">
              <router-link to="/">{{$store.state.transData['Главная']}}</router-link> — <router-link to="/account">{{$store.state.transData['Личный кабинет']}}</router-link> — {{$store.state.transData['Циклы']}}
            </div>
          </b-col>
      </b-row>
    </b-container>
    <b-container>
      <b-row>
        <b-col md="12">
          <h2 class="acc_h2">{{$store.state.transData['Циклы']}}</h2>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
      <b-row>
        <b-col md="12" xl="12" lg="12" cols="12" sm="12" >
          <div class="block_acc_descr">
            <div class="block_acc_nav">
              <ul>
                <!-- <li @click="isActive = 1" :class="[isActive == 1 ? activeTab : '']" class="edit">
                  <router-link to="/accountCyclePage" class="img_active_edit">
                    <img src="../../assets/img/engineering_blue.svg" alt="">
                    <img class="icons_edit" src="../../assets/img/engineering_white.svg" alt="">
                    <span class="cycle_menu">{{$store.state.transData['Инструкция']}}</span>
                  </router-link>
                </li> -->
                <li v-if="$store.state.profession_id == 2" @click="isActive = 2" :class="[isActive == 2 ? activeTab : '']" class="money">
                  <router-link to="/accountCyclePage/accountCycleSertificate" class="icons_money">
                    <img src="../../assets/img/certificate_blue.svg" alt="">
                    <img class="img_active_money" src="../../assets/img/certificate_white.svg" alt="">
                    <span class="cycle_menu">{{$store.state.transData['Сертификаты']}}</span>
                  </router-link>
                </li>
                <li @click="isActive = 3" :class="[isActive == 3 ? '' : '']" class="play_btn btn_acc_cycle">
                  <a href="https://mnlp.cc/mini?domain=bionorica&id=1">
                    <img src="../../assets/img/play-button_nav.png" alt="">
                    {{$store.state.transData['Подписаться на чат-бот']}}
                  </a>
                </li>
              </ul>
            </div>
            <router-view />
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data(){
    return{
      isActive: 2,
      activeTab: "active-tab",
      activBlock: false,
    }
  },
  mounted(){
    this.$router.push('/accountCyclePage/accountCycleSertificate')
  }
}
</script>

<style>
.btn_acc_cycle{
  float: right;
  margin-right: 30px;
}
.cycle_menu{
  padding: 20px;
}
</style>
