<template>
    <section class="acc_info">
        <b-container>
            <b-row>
                <b-col md="12" xl="12" lg="12" xs="12" sm="12">
                    <b-col md=12 class="pd_0">
                        <div class="acc_nav">
                            <router-link to="/">{{$store.state.transData['Главная']}}</router-link> — {{$store.state.transData['Личный кабинет']}}
                        </div>
                    </b-col>
                </b-col>
            </b-row>
            <b-row>
                <b-col md="12" xl="12" lg="12" xs="12" sm="12">
                    <h2 class="acc_h2">{{this.$store.state.transData['Личный кабинет']}}</h2>
                </b-col>
            </b-row>
            <b-row class="acc_pt_top">
                <b-col md="1" lg="1" sm="1" xl="1" cols="3">
                  <div class="cilindr">
                    <h3>{{name[0]}}</h3>
                  </div>
                </b-col>
                <b-col md="6" lg="6" sm="6" xl="6" cols="7" class="descr_acc_name">
                    <h3>{{name}}</h3>
                    <div v-for="(p, index) in prof" :key="index">
                      <p v-if="profession == p.id" class="prof_style">{{p.name}}</p>
                    </div>
                    <p>{{direction}}</p>
                </b-col>
                <b-col md="1" lg="1" sm="1" xl="1" cols="1"></b-col>
                <b-col md="3" lg="3" sm="3" xl="3" cols="12" class="acc_link_pt_top acc_link_mob_top">
                <router-link to="/profileEdit" class="acc_link">
                  <img src="../../assets/img/user_acc.png" alt />
                </router-link>
                <span @click="logout">
                <router-link to="/" class="acc_link">
                  <img src="../../assets/img/logout.png" alt />
                </router-link>
                </span>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
          <cycleSlider></cycleSlider>
        </b-container>
    </section>
</template>

<script>
import axios from 'axios'
import cycleSlider from '@/components/accountComponents/accountCycle/cycleSlider'
export default {
  data(){
    this.getUser().then(res => {
      this.name = res.data.fio
      this.direction = res.data.direction
      this.profession = res.data.profession
      this.$store.state.profession_id = this.profession
      return res
    })
    return{
      name: '',
      direction: '',
      profession: '',
      prof: '',
      isRegistered: false,
    }
  },
  components:{
    cycleSlider
  },
  mounted(){
    let selectItem = localStorage.getItem('language')
    if(selectItem !== null){
      let select = JSON.parse(selectItem)
      axios.get(`${this.$store.state.url}users/professions`, { headers: { 'Content-Language' : select.title.toLowerCase()} })
        .then(res => this.prof = res.data.data)
    }else{
      let select = JSON.parse(selectItem)
      axios.get(`${this.$store.state.url}users/professions`, { headers: { 'Content-Language' :'ru' } })
        .then(res => this.prof = res.data.data )
    }
  },
  methods: {
    logout(){
      localStorage.removeItem('usertoken')
    },
    getUser(){
      let selectItem = localStorage.getItem('language')
      if(selectItem !== null){
        let select = JSON.parse(selectItem)
        return axios.get(`${this.$store.state.url}users/profile`, {
          headers: {
            Authorization: `Bearer ${localStorage.usertoken}`,
            'Content-Language' : select.title.toLowerCase()
          }
        })
        .then(res => {
          return res.data
        })
        .catch(e => console(e))
      }else{
        return axios.get(`${this.$store.state.url}users/profile`, {
          headers: {
            Authorization: `Bearer ${localStorage.usertoken}`,
            'Content-Language' :'ru'
          }
        })
        .then(res => {
          return res.data
        })
        .catch(e => console(e))
      }
    }
  },
};
</script>

<style>
.acc_info{
  background-image: url('../../assets/img/big_leaves.png');
  background-repeat: no-repeat;
  background-position: 40% 100%;
}
.prof_style{
  padding-left: 10px;
  font-family: 'FiraSans-Regular';
}
</style>
