<template>
<div>
  <div v-for="(news, index) in news_result" :key="index">
    <router-link :to="'/newsInner/' + news.id">
      <h3>{{news.name}}</h3>
      <p>{{news.short_description}}</p>
    </router-link>
  </div>
</div>
</template>

<script>
export default {
data() {
  return {

    }
  },
  props: ['news_result'],
  methods: {

  },
}
</script>

<style>
.sec_prev{
  position: absolute;
  left: 1%;
  top: -9%;
  z-index: 999;
  cursor: pointer;
}

.sec_next{
  position: absolute;
  left: 11%;
  top: -9%;
  z-index: 999;
  cursor: pointer;
}
.second_slider{
  background-image: url('../../assets/img/elips.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 500px;
  padding-top: 75px;
}
.blog_items{
  height: 300px;
}
.blog_items a>img{
  width: 100%;
  height: 150px;
}
.blog_items a>h3{
  font-size: 18px;
}
.second_slider .slick-dots{
  position: absolute;
  height: 30px;
  /* bottom: -25px; */
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  bottom: 400px;
  left: 10px;
  top: -11%;
}



.second_slider .slick-dots li.slick-active button:before{
  color: #003c71;
  font-size: 7px;
}

.second_slider .slick-dots li button:before{
  color: #003c71;
  font-size: 7px;
}

.slider_btn{
  background-image: url('../../assets/img/slider_btn_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 210px;
  height: 60px;
}

.slider_btn>a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "FiraSans-Bold";
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 19px 0px;
}

.statia{
  padding: 0;
  margin: 0;
}

.statia>h3{
  font-size: 40px;
  font-family: "FiraSans-Bold";
  color: #000;
  padding: 0;
  padding-bottom: 50px;
  margin: 0;
}

.statia>a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #84bd00;
  padding: 15px 45px;
  border: 1px solid #84bd00;
  font-family: "FiraSans-Bold";
}

.statia>a:hover{
  text-decoration: none;
  color: #84bd00;
  padding: 10px 40px;
  border: 1px solid #84bd00;
  -webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.statia>p{
  font-size: 16px;
  color: #a8b2b8;
  padding-bottom: 20px;
}
.slick-slide img{
  width: 100%;
}
.blog_items>h3{
  font-size: 20px;
  font-family: "FiraSans-Bold";
  padding-top: 15px;
}
</style>
