<template>
<div>
  <paginate name="products" :list="products" :per="6" class="paginate-list">
      <b-row>
          <productComponent v-for="product in paginated('products')" :key="product.id" :productProps="product"></productComponent>
      </b-row>
  </paginate>
  <paginate-links v-if="products.length > 6" for="products" :list="products.data" :show-step-links="false" :limit="2" class="paginate_number"></paginate-links>
</div>

</template>

<script>
import productComponent from '@/components/productComponent/productComponent'
export default {
    data(){
        return{
            paginate: ['products'],
        }
    },
    components: {
        productComponent,
    },
    props: ['products']
}
</script>

<style>

</style>
