<template>
<div>
  <div v-for="(about, index) in aboutCompany" :key="index" class="about_descr">
    <div v-html="about.content"></div>
  </div>
</div>
</template>

<script>
export default {
  data(){
    return{

    }
  },
  props: ['aboutCompany']
}
</script>

<style>

</style>
