<template>
<div>
  <b-container>
    <b-row>
      <h2>{{searchResult.title}}</h2>
      <b-col md="12" xl="12" lg="12" sm="12" cols="12" class="blocks_search">
        <h3>{{this.$store.state.transData['Продукты']}}</h3>
        <searchProductBlock :products="searchResult.results.products" class="searchProductBlock"></searchProductBlock>
      </b-col>
      <b-col md="12" xl="12" lg="12" sm="12" cols="12" class="blocks_search">
        <h3>{{this.$store.state.transData['Новости']}}</h3>
        <searchSecondSlider :news_result="searchResult.results.news"></searchSecondSlider>
      </b-col>
      <b-col md="12" xl="12" lg="12" sm="12" cols="12" class="blocks_search">
        <h3>{{this.$store.state.transData['О компании']}}</h3>
        <searchAboutComponent :aboutCompany="searchResult.results.about"></searchAboutComponent>
      </b-col>
    </b-row>
  </b-container>
</div>
</template>

<script>
import axios from 'axios'
import searchSecondSlider from '@/components/searchComponent/searchSecondSlider'
import searchProductBlock from '@/components/searchComponent/searchProductBlock'
import searchAboutComponent from '@/components/searchComponent/searchAboutComponent'

export default {
  data(){
    return{
      searchResult: '',
      searchData: ''
    }
  },
  components: {
    searchSecondSlider,
    searchProductBlock,
    searchAboutComponent
  },
  methods: {

    searchValue(){
      return this.searchData = this.$route.params.keyword
    },
    searchFetch(){

      let selectItem = localStorage.getItem('language')
      let select = JSON.parse(selectItem)
      if(localStorage.getItem('language') ){
        axios({
          method: 'post',
          url: `${this.$store.state.url}users/search`,
          headers: {
            Authorization: `Bearer ${localStorage.usertoken}`,
            'Content-Language' : select.title.toLowerCase()
          },
          data: {
            keyword: this.searchValue()
          }
        })
        .then(res => this.searchResult = res.data.data)
      }else{
        axios({
          method: 'post',
          url: `${this.$store.state.url}users/search`,
          headers: {
            Authorization: `Bearer ${localStorage.usertoken}`,
            'Content-Language' : 'ru'
          },
          data: {
            keyword: this.searchValue()
          }
        })
        .then(res => this.searchResult = res.data.data)
      }
    },

  },
  mounted(){
    this.searchValue()
    this.searchFetch()
  },
  watch: {
    '$route.params.keyword': function(){
      this.searchValue()
      this.searchFetch()
    }
  }
}
</script>

<style>
  .search{
    background: #235245;
  }
  .searchProductBlock{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .blocks_search{
    padding: 0px;
  }
</style>
