<template>
  <div class="modal_video">
    <div class="modal_overlay modal_video_overlay">
      <Loader v-if="loader == true" style="top: 10%; left: 43%" />
      <div v-else class="modal_window fadeInDown" v-wow data-wow-iteration="1">
        <div class="modal_header">
          <span class="modal_title">{{testInfo.name}}</span>
          <span class="modal_close modal_video_close" @click="$emit('closeVideoModal')"><img src="../../../assets/img/cancel.png" alt=""></span>
        </div>
        <div class="modal_body mt_top">
          <ul class="video_list">
              <li class="f5f8fa video_li"><span class="video_li_descr">{{$store.state.transData['Тема']}}:</span> <span class="strong_descr">{{testInfo.theme}}</span></li>
              <li class="video_li"><span class="video_li_descr">{{$store.state.transData['Количество вопросов']}}:</span> <span class="strong_descr">{{testInfo.number_of_questions}}</span></li>
              <li class="f5f8fa video_li"><span class="video_li_descr">{{$store.state.transData['Количество попыток']}}:</span> <span class="strong_descr">{{testInfo.attempts}}</span></li>
              <li class="video_li"><span class="video_li_descr">{{$store.state.transData['Осталось попыток']}}:</span> <span class="strong_descr">{{testInfo.attempts_left}}</span></li>
              <li class="f5f8fa video_li"><span class="video_li_descr">{{$store.state.transData['Время на прохождение теста']}}</span> <span class="strong_descr">{{testInfo.test_time}}</span></li>
              <li class="video_li"><span class="video_li_descr">{{$store.state.transData['Тест действителен']}}:</span> <span class="strong_descr">{{testInfo.test_is_valid}}</span></li>
          </ul>
        </div>
        <div class="modal_footer">
          <ul class="video_footer" v-if="testInfo.attempts_left > 0">
              <li class="test" @click="returnTest()"><a>{{$store.state.transData['Пройти тест']}}</a></li>
              <li class="videocollection"><router-link to="/account/videoLesson" @click="isActive = ''">{{$store.state.transData['Еще раз посмотреть видеолекцию']}}</router-link></li>
          </ul>
          <ul class="video_footer" v-else>
            <li class="test"><a>К сожалению, все Ваши попытки уже исчерпаны</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Loader from '@/views/Loader'
export default {
  data(){
    return{
      testInfo: '',
      loader: false,
      // id: this.testInfo.id,
      profession: '',
    }
  },
  props: ['modalNumber'],
  components: {
    Loader
  },
  async mounted(){
    window.scrollTo(130, 100);
    this.loader = true
    let selectItem = localStorage.getItem('language')
    if(localStorage.getItem('language') ){
    let select = JSON.parse(selectItem)
    await axios({
      method: 'post',
      url: `${this.$store.state.url}users/test/info`,
      headers: {
        Authorization: `Bearer ${localStorage.usertoken}`,
        'Content-Language' : select.title.toLowerCase()
      },
      data: {
        lesson_id: this.modalNumber
      }
    })
    .then(res => this.testInfo = res.data.data)
    await axios({
        method: 'get',
        url: `${this.$store.state.url}users/profile`,
        headers: {
          Authorization: `Bearer ${localStorage.usertoken}`,
          'Content-Language' : select.title.toLowerCase()
        },
      })
      .then(res => this.profession = res.data.data.profession)
      .then(this.loader = false)
    }else{
    await axios({
      method: 'post',
      url: `${this.$store.state.url}users/test/info`,
      headers: {
        Authorization: `Bearer ${localStorage.usertoken}`,
        'Content-Language' : 'ru'
      },
      data: {
        lesson_id: this.modalNumber
      }
    })
    .then(res => this.testInfo = res.data.data)
    await axios({
        method: 'get',
        url: `${this.$store.state.url}users/profile`,
        headers: {
          Authorization: `Bearer ${localStorage.usertoken}`,
          'Content-Language' : 'ru'
        },
      })
      .then(res => this.profession = res.data.data.profession)
      .then(this.loader = false)
    }
  },
  methods: {
    returnTest(){
      if(this.profession == 2){
        this.$router.push({name:'testDoctorBlock', params: {id : this.testInfo.id, attempts_test: this.testInfo.attempts}})
      }else{
        this.$router.push({name:'testblock', params: {id : this.testInfo.id, attempts_test: this.testInfo.attempts}})
      }
      localStorage.setItem('testId', this.testInfo.id)
    }
  },
}
</script>

<style scoped>
  .loader_style{

  }
</style>
