<template>
  <section class="second_slider fadeIn" v-wow data-wow-duration="2s">
      <b-container>
        <b-row>
          <b-col md="12" lg="12" xl="12" xs="12" sm="12">
            <div class="sec_prev"><img src="../../assets/img/left-arr.png" alt=""></div>
            <div class="sec_next"><img src="../../assets/img/right_arr.png" alt=""></div>
            <Slick class="second_slider_items" ref="slick" :options="slickOptions">
            <b-container v-for="(news, index) in news_item_arr" :key="index">
                <b-row class="scnd_slider_items_descr">
                  <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="statia bounceInUp" v-wow data-wow-duration="2s">
                    <h3>{{$store.state.transData['Статьи из блога']}}</h3>
                    <router-link to="/news">{{$store.state.transData['Смотреть все']}}</router-link>
                  </b-col>
                  <b-col v-for="(n,i) in news" :key="i" md="3" lg="3" xl="3" xs="12" sm="12" class="blog_items bounceInUp" v-wow data-wow-duration="2s">
                    <router-link :to="'/newsInner/' + n.id">
                      <img :src="n.image" >
                      <h3>{{n.name}}</h3>
                      <!-- <p>{{n.short_description}}</p> -->
                    </router-link>
                  </b-col>
                </b-row>
            </b-container>
            </Slick>
          </b-col>
        </b-row>
      </b-container>
    </section>
</template>

<script>
import axios from 'axios'
import Slick from 'vue-slick';

export default {
data() {
  return {
      news_item: '',
      news_item_arr: '',
      slickOptions: {
          //options can be used from the plugin documentation
          dots: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 8000,
          prevArrow: '.sec_prev',
          nextArrow: '.sec_next'
      }
    }
  },
  methods: {

  },
  mounted(){
    let selectItem = localStorage.getItem('language')
    if(localStorage.getItem('language')){
      let select = JSON.parse(selectItem)
      axios.get(`${this.$store.state.url}users/news`, { headers: {'Content-Language' : select.title.toLowerCase()} })
      .then(response => this.news_item = response.data)
      .then(response => {
          let arr = response.data;
          Object.defineProperty(Array.prototype, 'chunk', {
            configurable: true,
            value: function(chunkSize) {
              var R = [];
              for (var i = 0; i < this.length; i += chunkSize)
                R.push(this.slice(i, i + chunkSize));
              return R;
            }
          })
          this.news_item_arr = arr.chunk(3)
        })
      .catch(error => console.log(error));
    }else{
      axios.get(`${this.$store.state.url}users/news`, { headers: {'Content-Language' : 'ru'} })
      .then(response => this.news_item = response.data)
      .then(response => {
          let arr = response.data;
          Object.defineProperty(Array.prototype, 'chunk', {
            configurable: true,
            value: function(chunkSize) {
              var R = [];
              for (var i = 0; i < this.length; i += chunkSize)
                R.push(this.slice(i, i + chunkSize));
              return R;
            }
          })
          this.news_item_arr = arr.chunk(3)
        })
      .catch(error => console.log(error));
    }
  },
  beforeUpdate() {
    if (this.$refs.slick) {
      this.$refs.slick.destroy();
    }
  },
  updated() {
    this.$nextTick(function () {
      if (this.$refs.slick) {
          this.$refs.slick.create(this.slickOptions);
      }
    });
  },
  components: { Slick },
}
</script>

<style>
.sec_prev{
  position: absolute;
  left: 1%;
  top: -9%;
  z-index: 999;
  cursor: pointer;
}

.sec_next{
  position: absolute;
  left: 11%;
  top: -9%;
  z-index: 999;
  cursor: pointer;
}
.second_slider{
  background-image: url('../../assets/img/elips.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 400px;
  padding-top: 130px;
}
.blog_items{
  height: 300px;
}
.blog_items a{
  color: #000;
}
.blog_items a:hover{
  color: #84bd00;
  text-decoration: none;
}
.blog_items a>img{
  width: 100%;
  height: 150px;
}
.blog_items a>h3{
  font-size: 18px;
  margin-top: 10px;
}
.second_slider .slick-dots{
  position: absolute;
  height: 30px;
  /* bottom: -25px; */
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  bottom: 400px;
  left: 10px;
  top: -11%;
}

.second_slider .slick-dots li.slick-active button:before{
  color: #003c71;
  font-size: 7px;
}

.second_slider .slick-dots li button:before{
  color: #003c71;
  font-size: 7px;
}

.slider_btn{
  background-image: url('../../assets/img/slider_btn_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 210px;
  height: 60px;
}

.slider_btn>a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "FiraSans-Bold";
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 19px 0px;
}

.statia{
  padding: 0;
  margin: 0;
}

.statia>h3{
  font-size: 40px;
  font-family: "FiraSans-Bold";
  color: #000;
  padding: 0;
  padding-bottom: 50px;
  margin: 0;
}

.statia>a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #84bd00;
  padding: 15px 45px;
  border: 1px solid #84bd00;
  font-family: "FiraSans-Bold";
}

.statia>a:hover{
  text-decoration: none;
  color: #84bd00;
  padding: 10px 40px;
  border: 1px solid #84bd00;
  -webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.statia>p{
  font-size: 16px;
  color: #a8b2b8;
  padding-bottom: 20px;
}
.slick-slide img{
  width: 100%;
}
.blog_items>h3{
  font-size: 20px;
  font-family: "FiraSans-Bold";
  padding-top: 15px;
}
</style>
