<template>
  <section class="slider_fitoring slideInRight" v-wow>
      <b-container>
        <b-row>
          <b-col md="12" xs="12" sm="12" xl="12" lg="12">
            <a class="prev"><img src="../../assets/img/left.png" alt=""></a>
            <Slick class="slider_item slider_item_descr_1" ref="slick" :options="slickOptions">
              <div  v-for="(content, index) in sliderContent.data" :key="index">
                <b-container >
                  <b-row>
                      <b-col md="1" xl="1" lg="1"></b-col>
                      <b-col md="5" xl="5" lg="5" sm="12" xs="12"  class="slider_descr_1 fadeInDown" v-wow data-wow-duration="2s">
                          <h2>{{content.title}}</h2>
                          <p v-html="content.content"></p>
                      </b-col>
                      <b-col md="5" xl="5" lg="5" class="top_p">
                        <videoHome :contentVideo="content.files"></videoHome>
                      </b-col>
                  </b-row>
                </b-container>
              </div>
            </Slick>
            <a class="next"><img src="../../assets/img/right.png" alt=""></a>
          </b-col>
        </b-row>
      </b-container>
    </section>
</template>

<script>
import Slick from 'vue-slick';
import videoHome from '@/components/videoHome'
import axios from 'axios'
export default {
data() {
    return {
        sliderContent: '',
        slickOptions: {
            //options can be used from the plugin documentation
            dots: true,
            infinite: true,
            autoplay: true,
            autoplaySpeed: 6000,
            slidesToShow: 1,
            prevArrow: '.prev',
            nextArrow: '.next'
        }
    }
    },
    mounted() {
      let selectItem = localStorage.getItem('language')
      if(localStorage.getItem('language') ){
        let select = JSON.parse(selectItem)
        axios.get(`${this.$store.state.url}users/banner`, {
        headers: {
          'Content-Language' : select.title.toLowerCase()
        }
        }).then(res => this.sliderContent = res.data )
      }else{
        axios.get(`${this.$store.state.url}users/banner`, {
        headers: {
          'Content-Language' : 'ru'
        }
        }).then(res => this.sliderContent = res.data )
      }

    },
    components: { Slick, videoHome },
    beforeUpdate() {
        if (this.$refs.slick) {
            this.$refs.slick.destroy();
        }
    },
    updated() {
        this.$nextTick(function () {
            if (this.$refs.slick) {
                this.$refs.slick.create(this.slickOptions);
            }
        });
    },
}
</script>

<style>
.top_p{
  margin-top: 70px;
}
.slider_item{
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.slider_item_descr_1{
  background-image: url('../../assets/img/home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e4f3ff;
  min-height: 580px;
  border-radius: 15px;
}

.slider_item_descr{
  background-image: url('../../assets/img/slider_bg_fito.png');
  background-repeat: no-repeat;
  background-position: 60% 0%;
  background-color: #e4f3ff;
  min-height: 580px;
  border-radius: 15px;
}

.slider_fitoring .slick-dots li button:before {
  font-family: 'slick';
  font-size: 8px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: green;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider_fitoring .slick-dots li.slick-active button::before {
  opacity: 0.75;
  color: green;
}

.slider_fitoring .slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0px 0px 60px 115px;
  margin: 0;
  list-style: none;
  text-align: left;
}

.prev, .next{
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
}

.prev{
  left: 3%;
  float: left;
}

.next{
  right: 3%;
  float: right;
}

.slider_descr{
  padding-top: 90px;
}

.slider_descr>h2{
  padding: 10px 0px;
  font-size: 36px;
  color: #000;
  font-family: "FiraSans-Bold";
}

.slider_descr>p{
  font-size: 18px;
  color: #000;
  margin-bottom: 60px;
}
.slider_btn:hover{
  opacity: .5;
  transform: scale(0.9);
  -webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.slider_btn{
  background-image: url('../../assets/img/slider_btn_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 210px;
  height: 60px;
}

.slider_btn>a{
  text-decoration: none!important;
  color: #fff!important;
  font-size: 14px;
  font-family: "FiraSans-Bold";
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 19px 0px;
}

.slider_descr_1{
  padding-top: 90px;
}

.slider_descr_1>h2{
  font-size: 36px;
  color: #000;
  font-family: "FiraSans-Bold";
}

.slider_descr_1>p{
  font-size: 18px;
  color: #000;
}
</style>
