<template>
  <section class="form_section">
      <b-container>
        <b-row>
          <b-col md="12" xl="12" lg="12" xs="12" sm="12">
            <form class="form_subs bounceInDown" v-wow data-wow-duration="2s">
              <h2>Подпишитесь на рассылку <a href="#">новостей</a></h2>
              <p>Будьте в курсе всех последних новостей и акций компании</p>
              <b-row class="inputs">
                <b-col md="4" lg="4" xl="4" xs="12" sm="12">
                  <span class="input_text fadeInUp" v-wow data-wow-duration="4s">{{this.$store.state.transData['Ваше имя']}}</span><br>
                  <input class="input_form fadeInUp" v-wow data-wow-duration="4s" placeholder="Александр" type="text">
                </b-col>
                <b-col md="3" lg="4" xl="4" xs="12" sm="12">
                  <span class="input_text">{{this.$store.state.transData['Ваша почта']}}</span><br>
                  <input class="input_form fadeInUp" v-wow data-wow-duration="4s" placeholder="info@mail.ru" type="text">
                </b-col>
                <b-col md="3" sm="12" xl="3" lg="3" xs="12">
                  <div class="oxygen_subs">
                    <a href="#">{{this.$store.state.transData['Подписаться']}}</a>
                  </div>
                </b-col>
              </b-row>
              <img class="oxygen bounceInDown" v-wow data-wow-duration="4s" src="../../assets/img/stock-vector-oxytocin-chemical-formula-hormone-of-love-and-closeness-1492351049.png" alt="">
              <img class="flower bounceInDown" v-wow data-wow-duration="4s" src="../../assets/img/flower.png" alt="">
            </form>
          </b-col>
        </b-row>
      </b-container>
    </section>
</template>

<script>
export default {

}
</script>

<style>
.form_section{
  background-image: url('../../assets/img/elips_footer.png');
  background-position-x: 100%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
}

.form_subs{
  min-height: 250px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 25px;
  background-color: #fff;
  margin-top: 60px;
}

.form_subs>h2{
  font-size: 40px;
  font-family: "FiraSans-Bold";
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 0;
}

.inputs{
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 100%;
}

.form_subs>p{
  font-size: 18px;
  padding-left: 20px;
  margin: 0;
  color: #000;
}

.input_text{
  font-size: 16px;
  font-family: "FiraSans-Bold";
  color: #000;
  padding-left: 20px;
}

.input_form{
  border: 2px solid #edf4f8;
  background-color: #f5f8fa;
  box-shadow: inset 0 0 8px #edf4f8;
  border-radius: 3px;
  font-size: 24px;
  width: 100%;
  padding: 2px 20px;
}

.oxygen{
  position: absolute;
  top: 7%;
  right: 25%;
}

.oxygen_subs{
  background-image: url('../../assets/img/btn_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #84bd00;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  z-index: 999;
  position: relative;
  margin-top: 25px;
}
.oxygen_subs:hover{
  opacity: .9;
  transform: scale(0.9);
  transition: .5s ease-in-out;
}
.oxygen_subs>a:hover{
  opacity: .9;
  color: #fff;
  text-decoration: none;
  transform: scale(0.9);
  transition: .5s ease-in-out;
}

.flower{
  position: absolute;
  top: -5%;
  z-index: 0;
  right: 10%;
}

.oxygen_subs>a{
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: "FiraSans-Bold";
}
</style>
