<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V2E4LPTCDH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-V2E4LPTCDH');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="cy0W3IIm7EVTrqOknGKwWgSCKPpuu4jvRBnNTD-u11E" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Bionorica</title>
  </head>
  
  <body class="bodyEl">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
  
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
