<template>
<div>
<b-container>
  <b-container>
      <b-row>
        <h3 class="blue_h3">{{videoProps.name}}</h3>
      </b-row>
  </b-container>
      <b-row>
        <b-col md="6" style="overflow: hidden">
          <!-- <iframe class="video_youtube" :src="videoProps.video_lecture" frameborder="0" type = "text/html" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          <youtube :video-id="getId" class="video_youtube" @ended="videoEnded" ref="youtube"></youtube>
        </b-col>
        <b-col md="6">
            <div class="video_descr">
                <h3>Описание видеолекции</h3>
                <p v-html="videoProps.description">{{videoProps.description}}</p>
            </div>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
        <b-row class="test_wrap_center">
            <b-col v-if="videoProps.test_status == 1" md="12" @click="showVideoModal" class="test_wrap test_click_1">
              <h3 class="test_go">{{$store.state.transData['Пройти тест']}}</h3>
            </b-col>
            <b-col v-if="videoProps.test_status == 0" md="12" class="test_wrap_non test_click_1">
              <h3 class="test_go">Тест недоступен</h3>
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script>
import axios from 'axios'
import { getIdFromUrl } from 'vue-youtube'
export default {
    data(){
        return{
            id: this.videoProps.id,
            playImgProsmotr: true,
        }
    },
    props: ['videoProps'],
    computed: {
      getId () {
        return this.$youtube.getIdFromUrl(this.videoProps.video_lecture)
      },
    },
    methods: {
        showVideoModal(){
          this.$emit('showModal', this.id)
        },
        videoEnded(){
          let b = this.id
            let selectItem = localStorage.getItem('language')
            let select = JSON.parse(selectItem)
            if(localStorage.getItem('language') ){
              let req = {
                url: `${this.$store.state.url}users/watched-video-lessons/update`,
                method: 'PUT',
                data: {
                  lesson_id : +b
                },
                headers: {
                  "Content-type": "application/json",
                  "Authorization" : `Bearer ${localStorage.usertoken}`,
                  'Content-Language' : select.title.toLowerCase()
                }
              }
              axios(req)
              .catch(e => console.log(e.response.data))
            }else{
              let req = {
                url: `${this.$store.state.url}users/watched-video-lessons/update`,
                method: 'PUT',
                data: {
                  lesson_id : +b
                },
                headers: {
                  "Content-type": "application/json",
                  "Authorization" : `Bearer ${localStorage.usertoken}`,
                  'Content-Language' : 'ru'
                }
              }
               axios(req)
              .catch(e => console.log(e.response.data))
            }

        }
    },
    mounted(){

    }
}
</script>

<style>
.test_wrap_center{
  justify-content: center;
}
</style>
