<template>
<div>
<b-container>
  <b-container>
      <b-row>
        <h3 class="blue_h3">{{videoProps.name}}</h3>
      </b-row>
  </b-container>
      <b-row>
        <b-col md="6" style="overflow: hidden">
            <iframe class="video_youtube" :src="videoProps.video_lecture" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </b-col>
        <b-col md="6">
            <div class="video_descr">
                <h3>Описание видеолекции</h3>
                <p v-html="videoProps.description">{{videoProps.description}}</p>
            </div>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
        <b-row class="m_0">
            <b-col v-if="videoProps.test_status == 1" md="12" @click="showVideoModal" class="test_wrap test_click_1">
              <h3 class="test_go">{{$store.state.transData['Пройти тест']}}</h3>
            </b-col>
            <b-col v-if="videoProps.test_status == 0" md="12" class="test_wrap_non test_click_1">
              <h3 class="test_go">Тест недоступен</h3>
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script>
export default {
    data(){
        return{
            playImgProsmotr: true
        }
    },
    props: ['videoProps'],
    methods: {
        play(event){
          let a = this.$refs.videoRef
          if(a.paused){
              a.play();
          }else{
              a.pause();
          }
        },
        showVideoModal(){
          this.$emit('showModal', this.id)
        },
    }
}
</script>

<style>
  .video_youtube{
    width: 100%;
    height: 250px;
    padding-left: 15px;
  }
</style>
