<template>
<section v-wow class="fadeInDown">
<div class="about">
    <b-container>
      <b-row>
          <b-col md="3">
            <div class="about_link">
                <router-link to="/">{{$store.state.transData['Главная']}} </router-link>  / {{$store.state.transData['О нас']}}
            </div>
          </b-col>
      </b-row>
    </b-container>
    <b-container>
        <b-row class="pt_about">
            <b-col md="3">
              <div class="fixed_list">
                <div class="nav_about">
                    <h3>{{$store.state.transData['О нас']}}</h3>
                    <ul class="link_list">
                    <li v-for="link of aboutLink" :key="link.id">
                        <router-link :to="'/about/'+link.id" @click="isActiveAbout = !isActiveAbout" exact-active-class="active_about">
                            {{ link.name }}
                        </router-link>
                    </li>
                </ul>
                </div>
              </div>
            </b-col>
            <b-col md="9">
               <router-view></router-view>
            </b-col>
        </b-row>
    </b-container>
</div>
<!-- <homeForms></homeForms> -->
</section>
</template>

<script>
import axios from 'axios'
import homeForms from '@/components/homePageComponents/homeForms'
export default {
    data(){
        return{
          isActiveAbout: false,
          isAboutTab: 'active_about',
          aboutLink: []
        }
    },
    components: {
      homeForms
    },
    mounted(){
      let selectItem = localStorage.getItem('language')
      if(localStorage.getItem('language') ){
        let select = JSON.parse(selectItem)
        axios
        .get(`${this.$store.state.url}users/about`, {headers: {'Content-Language' : select.title.toLowerCase() }})
        .then(response => this.aboutLink = response.data.data)
        .catch(error => console.log(error));
      }else{
        axios
        .get(`${this.$store.state.url}users/about`, {headers: {'Content-Language' : 'ru' }})
        .then(response => this.aboutLink = response.data.data)
        .catch(error => console.log(error));
      }
      this.$router.push({path: '/about/1'})
    }
}
</script>

<style>
.fixed_list{
  position: sticky;
  top: 0;
  max-height: 600px;
  overflow-y: scroll;
  padding: 3px 3px;
}
.fixed_list::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.fixed_list { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.fixed_list { overflow: -moz-scrollbars-none; }
    .about{
        background-image: url('../assets/img/elips.png');
        background-repeat: no-repeat;
        background-size: 20% 50%;
        width: 100%;
        padding-top: 30px;
        background-position-x: 0px;
        min-height: 520px;
        background-position-y: 50%;
    }
    .pt_about{
        padding-top: 20px;
    }
    .about_link{
        color: #010101;
        font-family: "FiraSans-Regular";
        font-size: 16px;
    }
    .about_link>a{
        color: #a7b2b8;
    }

    .about_descr>h2{
        font-family: "FiraSans-Bold";
        font-size: 25px;
        color: #000;
    }
    .about_descr>p{
        color: #7d7c7c;
        font-size: 16px;
        font-family: "FiraSans-Regular";
    }
    .link_list{
        list-style-type: none;
        padding: 0;
    }
    .link_list>li>a{
        display: flex;
        justify-content: flex-start;
        font-size: 16px;
        font-family: "FiraSans-Bold";
        text-decoration: none;
        color: #000;
        padding: 10px 25px;
    }
    .link_list>li>a:focus{
        background-color: #f8ffe9;
        color: #85bc00!important;
    }
    .nav_about{
        border-radius: 9px;
        box-shadow: 0px 0px 5px 0px #ccc;
        width: 100%;
        background-color: #fff;
    }
    .nav_about>h3{
        padding: 22px 25px;
        margin: 0;
        border-bottom: 2px solid #dbe0e4;
    }
    .active_about{
        background-color: #f8ffe9;
        color: #85bc00!important;
    }
    .about_descr>img{
        width: 100%;
    }
</style>
