<template>
  <section class="anketa">
    <b-container>
      <b-row>
        <b-col>
          <div class="acc_nav">
            <router-link to="/">{{$store.state.transData['Главная']}}</router-link> — <router-link to="/account">{{$store.state.transData['Личный кабинет']}}</router-link>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="12" xl="12" lg="12" xs="12" sm="12">
          <h2 class="acc_h2">Анкета</h2>
        </b-col>
        <b-col md="8" xl="8" lg="8" sm="8" cols="8">
          <p>Дорогой доктор, просим вас заполнить краткое описание клинического случая по препарату, информацию о котором вы сейчас прослушали:</p>
        </b-col>
        <b-col md="12" xl="12" lg="12" sm="12" cols="12">
          <form>
            <div class="profile_reg_descr_2" v-for="(descr, index) in anketaInfo" :key="index">
              <span class="input_text">
                {{descr.question}}
                <span class="txt_color_red">*</span>
              </span>
              <input class="input_form" v-model="answers[index].answer" type="text" />
            </div>
            <div class="reg_footer" v-if="submitStatus == 'ERROR'">
              <span class="txt_color_red">Заполните все поля</span>
            </div>
            <div class="reg_footer">
              <button  class="anketa_btn" @click.prevent="anketaPost" type="submit"><img src="../assets/img/anketa_icon.png" alt="">Сохранить анкету</button>
            </div>
          </form>
        </b-col>
      </b-row>
    </b-container>
    <anketaModal v-if="anketaModal"></anketaModal>
  </section>
</template>

<script>
import axios from "axios"
import anketaModal from '@/components/accountComponents/accountCycle/anketaModal'
export default {
  data: () => ({
    anketaModal: false,
    anketaInfo: '',
    answers: [],
    submitStatus: ''
  }),
  components : {
    anketaModal
  },
  methods: {
    anketaPost(){
      let selectItem = localStorage.getItem('language')
      let select = JSON.parse(selectItem)
      console.log(this.answers.every(this.isCorrect))
      if(this.answers.every(this.isCorrect)){
        if(localStorage.getItem('language')){
          this.selected = select
          axios({
            method: 'post',
            url: `${this.$store.state.url}users/questionnaire`,
            headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : select.title.toLowerCase() },
            data: {test_id: localStorage.getItem('testId'), answers: this.answers}
          })
        }else{
          axios({
            method: 'post',
            url: `${this.$store.state.url}users/questionnaire`,
            headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : 'ru' },
            data: {test_id: localStorage.getItem('testId'), answers: this.answers}
          })
        }
        this.anketaModal = true
        localStorage.removeItem('testId')
      }else{
        this.submitStatus = 'ERROR'
      }
    },
    isCorrect(arrItem){
      return arrItem.answer !== ''
    }
  },
  mounted(){
    let selectItem = localStorage.getItem('language')
    let select = JSON.parse(selectItem)

    if(localStorage.getItem('language')){
      this.selected = select
      axios.get(`${this.$store.state.url}users/questionnaire`, {params: {test_id: localStorage.getItem('testId')}, headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : select.title.toLowerCase() }})
      .then(res => this.anketaInfo = res.data.data )
      .then(res => {
        for(let i = 0; i < this.anketaInfo.length; i++){
          this.answers.push(this.answers[i] = {question_id: this.anketaInfo[i].id, answer: ''})
        }
      })
    }else{
      axios.get(`${this.$store.state.url}users/questionnaire`, {params: {test_id: localStorage.getItem('testId')}, headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : 'ru'}})
      .then(res => this.anketaInfo = res.data.data )
      .then(res => {
        for(let i = 0; i < this.anketaInfo.length; i++){
          this.answers.push(this.answers[i] = {question_id: this.anketaInfo[i].id, answer: ''})
        }
      })
    }
  }
}
</script>

<style>
.anketa_btn{
  background-image: url('../assets/img/bg_cycle.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1d3474;
  border-radius: 3px;
  color: #fff;
  border: none;
  width: 260px;
  height: 65px;
  margin-top: 25px;
}
.anketa_btn:hover{
  opacity: .7;
  transform: scale(0.9);
  transition: .5s ease-in-out;
  text-decoration: none;
}
.anketa_btn>img{
  padding-right: 15px;
}
</style>
