<template>
<section class="FAQ_descr">
  <b-container>
    <b-row>
        <b-col md="12">
          <div class="about_link">
              <router-link to="/">{{$store.state.transData['Главная']}} </router-link>  /  {{$store.state.transData['Вопросы и ответы']}}
          </div>
        </b-col>
    </b-row>
  </b-container>
  <b-container>
    <b-row>
      <b-col md="12">
        <h2>{{$store.state.transData['Вопросы и ответы']}}</h2>
      </b-col>
      <b-col>
        <h3>{{$store.state.transData['Часто задаваемые вопросы']}}</h3>
      </b-col>
      <b-col md="12">
        <ul class="faq_list">
          <li v-for="(f, index) in faq" :key="index" :class="[answer ? 'answerBlock' : '']">
            <div @click="answer = !answer" class="faq_block"><span>{{f.id}}. {{f.question}}</span><img v-if="!answer" src="../assets/img/plus.png" /><img v-if="answer" src="../assets/img/x.png" alt=""></div>
            <div v-if="answer" class="faq_block_descr">{{f.answer}}</div>
          </li>
        </ul>
      </b-col>
    </b-row>
  </b-container>
</section>

</template>

<script>
import axios from 'axios'
export default {
  data(){
    return{
      faq: [],
      answerBlock: '.answerBlock',
      answer: false
    }
  },
  mounted(){
    let selectItem = localStorage.getItem('language')
    if(localStorage.getItem('language') ){
      let select = JSON.parse(selectItem)
      axios
      .get(`${this.$store.state.url}users/faq`,{
        headers: {
          'Content-Language' : select.title.toLowerCase()
        }
      })
      .then(response => this.faq = response.data.data)
      .catch(error => console.log(error));
    }else{
      axios
      .get(`${this.$store.state.url}users/faq`,{
        headers: {
          'Content-Language' : 'ru'
        }
      })
      .then(response => this.faq = response.data.data)
      .catch(error => console.log(error));
    }
  }
}
</script>

<style>
.FAQ_descr{
  padding-top: 30px;
  min-height: 320px;
}
.faq_block{
  display: flex;
  justify-content: space-between;
}
.faq_block > img{
  width: 20px;
  height: 20px;
}
.faq_block_descr{
  padding: 5px 15px;
  margin-top: 10px;
}
.faq_list{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.faq_list > li{
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  padding: 25px 20px;
}
.answerBlock{
  background-color: #EEF3F6;
  padding: 15px;
}
</style>
