<template>
<section class="farma_descr">
  <b-container>
    <b-row>
        <b-col md="12">
          <div class="about_link">
              <router-link to="/">{{$store.state.transData['Главная']}} </router-link>  /  {{$store.state.transData['Фармаконадзор']}}
          </div>
        </b-col>
    </b-row>
  </b-container>
  <b-container>
    <b-row>
      <b-col md="12">
        <h2>{{farma.title}}</h2>
      </b-col>
      <b-col md="12">
        <div v-html="farma.content"></div>
        <ul class="list_farma">
          <li><img src="../assets/img/fax.png" alt="" />{{farma.fax}}</li>
          <li><img src="../assets/img/phone_icon.png" alt="" />{{farma.phone}}</li>
          <li><img src="../assets/img/letter.png" alt="" />{{farma.mail}}</li>
        </ul>
      </b-col>
    </b-row>
  </b-container>
</section>
</template>

<script>
import axios from 'axios'
export default {
  data(){
    return{
      farma: ''
    }
  },
  methods: { 

  },
  mounted() {
    let selectItem = localStorage.getItem('language')
    if(localStorage.getItem('language') ){
      let select = JSON.parse(selectItem)
      axios
      .get(`${this.$store.state.url}users/farmanadzor`, {headers: {'Content-Language' : select.title.toLowerCase() }})
      .then(response => this.farma = response.data.data)
      .catch(error => console.log(error));
    }else{
      axios
      .get(`${this.$store.state.url}users/farmanadzor`, {headers: {'Content-Language' : 'ru' }})
      .then(response => this.farma = response.data.data)
      .catch(error => console.log(error));
    }
  }
}
</script>

<style>
.farma_descr{
  padding-top: 30px;
  min-height: 350px;
}
p{
  font-family: 'firaSans-Regular';
}
h2{
  font-family: 'firaSans-Bold';
}
.list_farma{
  list-style-type: none;
  padding: 0px;
}
.list_farma li{
  font-family: 'firaSans-Regular';
  padding: 5px 0px;
  display: flex;
  align-items: center;
}
.list_farma > li img{
  padding: 0px 10px;
}
.list_farma > li:nth-child(3) img{
  padding: 0px 14px;
}
</style>
