<template>
  <div>
    <Loader style="left: 30%" />
    <firstSlider></firstSlider>
    <secondSlider></secondSlider>
    <!-- <homeForms></homeForms> -->
    <b-modal id="modal-md" size="md" v-model="modalShow">
      <!-- <b-carousel
      id="carousel-1"
      v-model="slide"
      controls
      indicators
      background="#ababab"
      img-height="1000"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <b-carousel-slide v-for="(advert, index) in advertisements" :key="index">
       <template v-slot:img>
          <img
            class="d-block img-fluid w-100 img_modal"
            width="1024"
            height="480"
            :src="advert.image"
            alt="image slot"
          >
        </template>
      </b-carousel-slide>
    </b-carousel> -->
      <img src="@/assets/img/banner.jpg" alt="" style="width: 100%;">
    </b-modal>
  </div>
</template>

<script>
import firstSlider from '@/components/homePageComponents/homeFirstSlider'
import secondSlider from '@/components/homePageComponents/homeSecondSlider'
import Loader from '@/views/Loader'
import axios from 'axios'
// import homeForms from '@/components/homePageComponents/homeForms'

export default {
  data(){
    return {
      modalShow: true,
      advertisements: ''
    }
  },
  components: {
    firstSlider,
    secondSlider,
    Loader
    // homeForms,
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true
    },
    onSlideEnd(slide) {
      this.sliding = false
    },
  },
  mounted(){
    let selectItem = localStorage.getItem('language')
    let select = JSON.parse(selectItem)

    if(localStorage.getItem('language')){
      this.selected = select
      axios.get(`${this.$store.state.url}users/advertisements`, {headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : select.title.toLowerCase() }})
        .then(res => this.advertisements = res.data.data )
    }else{
      axios.get(`${this.$store.state.url}users/advertisements`, {headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : 'ru'}})
        .then(res => this.advertisements = res.data.data )
    }
  }
}
</script>
<style>
.modal-footer{
  display: none!important;
}
.modal-body{
  margin: 0 auto;
}
.img_modal{
  max-width: 100%;
  height: 550px;
  min-height: 300px;
  margin: 0 auto;
}
</style>
