<template>
<section v-wow class="news_descr slideInLeft">
<div>
    <b-container>
      <b-row>
          <b-col md="12">
            <div class="about_link">
                <router-link to="/">{{$store.state.transData['Главная']}} </router-link>  /  {{$store.state.transData['Новости']}}
            </div>
          </b-col>
      </b-row>
    </b-container>
    <b-container>
        <b-row>
            <b-col md="12">
                <h2 class="news_h2">{{$store.state.transData['Новости']}}</h2>
            </b-col>
        </b-row>
    </b-container>
</div>
<div class="news">
    <b-container>
      <b-row>
        <newsComponents  v-for="news in news_item.data" :key="news.id" :newsProps="news"></newsComponents>
      </b-row>
    </b-container>
</div>
<!-- <homeForms></homeForms> -->
</section>


</template>

<script>
import homeForms from '@/components/homePageComponents/homeForms'
import newsComponents from '@/components/newsComponent/newsComponent'
import axios from 'axios'

export default {
    data(){
        return{
        news_item: '',
        }
    },
    mounted() {
      let selectItem = localStorage.getItem('language')
      if(localStorage.getItem('language') ){
        let select = JSON.parse(selectItem)
        axios
        .get(`${this.$store.state.url}users/news`,{
          headers: {
            'Content-Language' : select.title.toLowerCase()
          }
        })
        .then(response => this.news_item = response.data)
        .catch(error => console.log(error));
      }else{
        axios
        .get(`${this.$store.state.url}users/news`,{
          headers: {
            'Content-Language' : 'ru'
          }
        })
        .then(response => this.news_item = response.data)
        .catch(error => console.log(error));
      }
    },
    components: {
        homeForms,
        newsComponents
    }
}
</script>

<style>
    .news_descr{
        background-image: url('../assets/img/elips.png');
        background-repeat: no-repeat;
        background-size: 20% 50%;
        width: 100%;
        min-height: 760px;
        padding-top: 30px;
        background-position-x: 0px;
        background-position-y: 50%;
    }
    .news_h2{
        font-size: 25px;
        font-family: "FiraSans-Bold";
        color: #000;
        padding-left: 15px;
    }
    .news_descr{
        padding-top: 30px;
    }
</style>
