<template>
<section v-wow class="news_descr rollIn">
<div>
    <b-container>
        <b-row>
            <b-col md="4" lg="3">
                <div class="fixedMenu">
                    <div class="about_link product_link">
                        <router-link to="/">{{$store.state.transData['Главная']}}</router-link> / {{$store.state.transData['Препараты']}}
                    </div>
                  <div class="nav_about" v-for="nav of products_menu" :key="nav.id">
                    <ul class="link_list">
                      <productNavbar :nav="nav"></productNavbar>
                    </ul>
                  </div>
                </div>
            </b-col>
            <b-col  md="8" lg="9">
                <router-view ></router-view>
            </b-col>
        </b-row>
    </b-container>
</div>
<!-- <homeForms></homeForms> -->
</section>


</template>

<script>
import productNavbar from '@/components/productComponent/productNavbar'
import homeForms from '@/components/homePageComponents/homeForms'
import axios from 'axios'

export default {
    data(){
        return{
            products_menu: [],
            navDrop: false
        }
    },

    components: {
        homeForms,
        productNavbar
    },
    mounted(){
      let selectItem = localStorage.getItem('language');
      if(localStorage.getItem('language')){
        let select = JSON.parse(selectItem)
        axios
          .get(`${this.$store.state.url}users/catalogs`, {headers: {'Content-Language' : select.title.toLowerCase() }})
          .then(res => this.products_menu = res.data.data)
      }else{
        axios
          .get(`${this.$store.state.url}users/catalogs`, {headers: {'Content-Language' : 'ru' }})
          .then(res => this.products_menu = res.data.data)
      }

    }
}
</script>

<style>
.fixedMenu{
  position: sticky;
  top: 0;
  max-height: 600px;
  overflow-y: scroll;
  padding: 0px 3px;
}
.fixedMenu::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.fixedMenu { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.fixedMenu { overflow: -moz-scrollbars-none; }
.paginate-list{
    margin-bottom: 30px;
}
.h3_nav{
    font-family: "FiraSans-Bold";
    font-size: 23px;
    color: #000;
}
.product_link{
    padding-top: 30px;
    padding-bottom: 20px;
}
.sub_title{
    display: flex;
    text-align: center;
    justify-content: center!important;
}
.paginate_number, .paginate-list{
    padding: 0;
}
.paginate_number{
    position: absolute;
    list-style-type: none;
    text-align: center;
    left: 50%;
    top: 98%;
    z-index: 99999;
    color: #2c3843;
    font-size: 20px;
}
.paginate_number>li>a{
    padding: 0px 15px;
    cursor: pointer;
}
.paginate_number>li{
    display: inline-flex;
    justify-content: center;
}
.paginate_number>.active{
    color: #fff;
    background: #85bc00;
    border-radius: 50%;
    padding: 5px 0px;
}

</style>
