<template>
  <div v-wow class="lightSpeedIn">
    <b-container>
      <b-row>
        <b-col md="3" class="pd_0">
          <div class="acc_nav">
            <router-link to="/">{{$store.state.transData['Главная']}}</router-link>— {{this.$store.state.transData['Личный кабинет']}}
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="12" xl="12" lg="12" xs="12" sm="12">
          <h2 class="acc_h2">{{this.$store.state.transData['Редактировать профиль']}}</h2>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
      <b-row>
        <b-col md="12">
          <form>
            <div class="profile_redaction fadeInDown" v-wow data-wow-iteration="1">
            <!-- <div class="profile_reg_descr_1">
              <span class="input_text">
                {{this.$store.state.transData['Ваша профессия']}}
                <span class="txt_color_red">*</span>
              </span>
              <div class="poo-select-2">
                <select @change="clickSelect(selectType)" v-model="selectType">
                  <option
                    v-for="(item, i) in selects.data"
                    :key="item.id"
                    :value="i"
                  >{{item.name}}</option>
                </select>
              </div>
            </div>

            <div v-if="showSelect" class="profile_reg_descr_1">
              <span class="input_text">
                {{this.$store.state.transData['Ваше направление']}}
                <span class="txt_color_red">*</span>
              </span>
              <div class="poo-select-2">
                <select v-model="selectTypeDirections">
                  <option
                    v-for="directionsItem in directions.data"
                    :key="directionsItem.id"
                    :value="directionsItem.name"
                  >{{directionsItem.name}}</option>
                </select>
              </div>
            </div> -->
            <div class="profile_reg_descr_1">
              <span class="input_text">
                {{this.$store.state.transData['Ваши интересы']}}
                <span class="txt_color_red">*</span>
              </span>
              <div class="poo-select-1">
                <select v-model="selectTypeInteres">
                  <option
                    v-for="(interesItem, i) in interes"
                    :key="interesItem.id"
                    :value="interesItem.id"
                  >{{interesItem.name}}</option>
                </select>
              </div>
            </div>
            <div class="profile_reg_descr_2">
              <span class="input_text">
                {{this.$store.state.transData['Ваше ФИО']}}

                <span class="txt_color_red">*</span>
              </span>
              <input
                class="input_form"
                placeholder=""
                type="text"
                @blur="$v.name.$touch()"
                v-model.trim="name"
                :class="{'is-invalid': $v.name.$error}"
              />
              <span class="error-text" v-if="!$v.name.required"></span>
            </div>
            <div class="profile_reg_descr_3">
              <span class="input_text">
                {{this.$store.state.transData['Ваш город']}}
                <span class="txt_color_red">*</span>
              </span>
              <input
                class="input_form"
                placeholder=""
                type="text"
                :class="{'is-invalid': $v.city.$error}"
                v-model.trim="city"
                @blur="$v.city.$touch()"
              />
            </div>
            <div class="profile_reg_descr_4">
              <span class="input_text">
                {{this.$store.state.transData['Ваша почта']}}
                <span class="txt_color_red">*</span>
              </span>
              <input
              class="input_form"
                    :class="{'is-invalid': $v.email.$error}"
                    placeholder=""
                    type="email"
                    @blur="$v.email.$touch()"
                    v-model.trim="email"
              />
               <span class="error-text" v-if="!$v.email.email">Поле должно быть @.ru</span>
            </div>
            <div class="profile_reg_descr_5">
              <span class="input_text">
                {{this.$store.state.transData['Ваш номер телефона']}}
                <span class="txt_color_red">*</span>
              </span>
              <input
                 class="input_form"
                  placeholder=""
                  :class="{'is-invalid': $v.number.$error}"
                  type="text"
                  v-model.trim="number"
                 @blur="$v.number.$touch()"
               />
            </div>
            <div class="profile_reg_descr_6">
                  <span class="input_text">
                    {{this.$store.state.transData['Ваше место работы']}}
                    <span class="txt_color_red">*</span>
                  </span>
                  <input
                    class="input_form"
                    placeholder
                    type="text"
                    :class="{'is-invalid': $v.place_of_work.$error}"
                    v-model="place_of_work"
                    @blur="$v.place_of_work.$touch()"
                  />

                  <span
                    class="error-text"
                    v-if="$v.place_of_work.$error"
                  >Пожалуйста заполните обязательное поле Ваше место работы для того, чтобы зарегистрироваться</span>
                </div>
            <div class="profile_reg_descr_6">
              <span class="input_text modal_auto_descr_2">
                {{this.$store.state.transData['Введите пароль']}}
                <span class="txt_color_red">*</span>
              </span>
              <input
                class="input_form"
                  id="password"
                  placeholder=""
                   :class="{'is-invalid': $v.password.$error}"
                  type="password"
                  v-model.trim="password"
                  @o="$v.password.$touch()"
               />
                <span class="error-text" v-if="!$v.password.minLength">
                    Минимум {{ $v.password.$params.minLength.min }} символов, у вас {{ password.length }}
                  </span>
            </div>
            <div class="profile_reg_descr_7">
              <span class="input_text modal_auto_descr_2">
                {{this.$store.state.transData['Повторите пароль']}}
                <span class="txt_color_red">*</span>
              </span>
              <input
                class="input_form"
                  placeholder=""
                  id="confirmPassword"
                  type="password"
                  :class="{'is-invalid': $v.confirmPassword.$error}"
                  @blur="$v.confirmPassword.$touch()"
                  v-model.trim="confirmPassword"
               />
               <span class="error-text" v-if="!$v.confirmPassword.sameAs">
                      Пароли не совпадают
                  </span>
            </div>
          </div>
          <div class="reg_footer">
            <a @click="saveProfile" class="profile_reg_btn">
              <span>{{this.$store.state.transData['Сохранить изменения']}}</span>
            </a>
            <a class="otmena">
              <span>{{this.$store.state.transData['Отменить']}}</span>
            </a>
          </div>
          </form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from "axios";
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";
export default {
  data: () => ({
    interes: "",
    selects: "",
    showSelect: false,
    selectType: "",
    selectTypeInteres: "",
    selectTypeDirections: "",
    name: "",
    email: "",
    password: "",
    number: "",
    confirmPassword: "",
    city: "",
    place_of_work: "",
    profession: "",
    directions: "",
    submitStatus: null,

  }),
  validations: {
    email: {
      required,
      email
    },
    name: {
      required,
      minLength: minLength(5)
    },
    number: {
      required,
      minLength: minLength(11)
    },
    password: {
      minLength: minLength(6)
    },
     confirmPassword:{
      sameAs: sameAs('password')
    },
    city: {
      required
    },
    place_of_work: {
      required
    },
  },
  mounted() {
    let selectItem = localStorage.getItem('language')
    if(localStorage.getItem('language') ){
      let select = JSON.parse(selectItem)
      axios
        .get(`${this.$store.state.url}users/interests`, {
          headers: { 'Content-Language' : select.title.toLowerCase() }
        })
        .then(response => {
          this.interes = response.data.data;
        });
      axios
        .get(`${this.$store.state.url}users/professions`, {
          headers: { 'Content-Language' : select.title.toLowerCase() }
        })
        .then(response => (this.selects = response.data));
      axios
        .get(`${this.$store.state.url}users/directions`, {
          headers: { 'Content-Language' : select.title.toLowerCase() }
        })
        .then(response => (this.directions = response.data));
      axios
        .get(`${this.$store.state.url}users/profile`,{
          headers: {
            "Authorization" : `Bearer ${localStorage.usertoken}`,
            'Content-Language' : select.title.toLowerCase()
          }
        })
        .then(res => {
          this.selectTypeInteres = +res.data.data.interest,
          this.name = res.data.data.fio,
          this.email = res.data.data.email,
          this.number = res.data.data.telephone,
          this.city = res.data.data.city,
          this.place_of_work = res.data.data.place_of_work,
          this.selectType = +res.data.data.profession,
          this.selectTypeDirections = res.data.data.direction;

          if(res.data.data.profession == 'Доктор' || res.data.data.profession == 'Doctor'){
            this.showSelect = true;
          }else{
            this.showSelect = false;
          }
        })
    }else{
      let select = JSON.parse(selectItem)
      axios
        .get(`${this.$store.state.url}users/interests`, {
          headers: { 'Content-Language' : 'ru' }
        })
        .then(response => {
          this.interes = response.data.data;
        });
      axios
        .get(`${this.$store.state.url}users/professions`, {
          headers: { 'Content-Language' : 'ru' }
        })
        .then(response => (this.selects = response.data));
      axios
        .get(`${this.$store.state.url}users/directions`, {
          headers: { 'Content-Language' : 'ru' }
        })
        .then(response => (this.directions = response.data));
      axios
        .get(`${this.$store.state.url}users/profile`,{
          headers: {
            "Authorization" : `Bearer ${localStorage.usertoken}`,
            'Content-Language' : 'ru'
          }
        })
        .then(res => {
          this.selectTypeInteres = +res.data.data.interest,
          this.name = res.data.data.fio,
          this.email = res.data.data.email,
          this.number = res.data.data.telephone,
          this.city = res.data.data.city,
          this.place_of_work = res.data.data.place_of_work,
          this.selectType = +res.data.data.profession,
          this.selectTypeDirections = res.data.data.direction;

          if(res.data.data.profession == 'Доктор' || res.data.data.profession == 'Doctor'){
            this.showSelect = true;
          }else{
            this.showSelect = false;
          }
        })
    }

  },
  methods:{
    clickSelect(selectType) {
      if (selectType == "1" || selectType == "Фармацевт") {
        this.showSelect = false;
      } else if (selectType == "2" || selectType == "Доктор" || selectType == "Doctor") {
        this.showSelect = true;
      }
    },
    saveProfile(){
      let selectItem = localStorage.getItem('language')
      let select = JSON.parse(selectItem)
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        this.submitStatus = "Pending";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
      if(localStorage.getItem('language') ){
        let req = {
        url: `${this.$store.state.url}users/profile/update`,
        method: 'PUT',
        data: {
          name : this.name,
          email : this.email,
          profession_id : +this.selectType,
          interest_id : this.selectTypeInteres,
          direction_id : this.selectTypeDirections,
          city : this.city,
          phone : this.number,
          place_of_work : this.place_of_work,
          password : this.password,
          password_confirmation : this.confirmPassword
        },
        headers: {
          "Content-type": "application/json",
          "Authorization" : `Bearer ${localStorage.usertoken}`,
          'Content-Language' : select.title.toLowerCase()
        }
      }
        axios(req)
        .then(this.$router.push('/'))
        .catch(e => console.log(e.response.data))
      }else{
        let req = {
          url: `${this.$store.state.url}users/profile/update`,
          method: 'PUT',
          data: {
            name : this.name,
            email : this.email,
            profession_id : +this.selectType,
            interest_id : this.selectTypeInteres,
            direction_id : this.selectTypeDirections,
            city : this.city,
            phone : this.number,
            place_of_work : this.place_of_work,
            password : this.password,
            password_confirmation : this.confirmPassword
          },
          headers: {
            "Content-type": "application/json",
            "Authorization" : `Bearer ${localStorage.usertoken}`,
            'Content-Language' : 'ru'
          }
        }
        axios(req)
        .then(this.$router.push('/'))
        .catch(e => console.log(e.response.data))
      }
    }
  }
}
</script>

<style>
.otmena {
  display: flex;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #84bd00;
}

.otmena > span {
  font-family: "FiraSans-Bold";
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  margin: auto;
}

.profile_reg_btn {
  display: flex;
  padding: 15px;
  border-radius: 3px;
  background-image: url("../assets/img/btn_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #84bd00;
  margin-bottom: 15px;
  margin-top: 35px;
  cursor: pointer;
}

.profile_reg_btn > span {
  font-family: "FiraSans-Bold";
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin: auto;
}

.reg_footer {
  margin-bottom: 100px;
}

.profile_redaction {
  margin-bottom: 35px;
}

.profile_reg_descr_1 {
  padding-top: 15px;
}

.profile_reg_descr_2 {
  padding-top: 40px;
}

.profile_reg_descr_3 {
  padding-top: 40px;
}

.profile_reg_descr_4 {
  padding-top: 40px;
}

.profile_reg_descr_5 {
  padding-top: 40px;
}

.profile_reg_descr_6 {
  padding-top: 40px;
}

.profile_reg_descr_7 {
  padding-top: 40px;
}
</style>
