.acc_nav{
    font-family: "FiraSans-Regular";
    font-size: 16px;
    margin-top: 30px;
    color: #000;
    font-weight: bold;
}

.acc_nav>a{
    color: #003c71;
    text-decoration: underline;
}

.pd_0{
    padding: 0;
}

.acc_h2{
    font-size: 40px;
    font-family: "FiraSans-Bold";
    font-weight: bold;
    color: #000;
    margin: 0;
}

.cilindr{
    width: 67px;
    padding-top: 5px;
    height: 67px;
    background-color: #f5f8fa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cilindr>h3{
    justify-content: center;
    display: flex;
    font-size: 24px;
    font-family: "FiraSans-Bold";
    color: #bdc9d2;
}

.descr_acc_name{
    padding: 0;
}

.descr_acc_name>h3{
    padding-left: 10px;
    margin: 0;
    font-size: 24px;
    font-family: "FiraSans-Regular";
    color: #000;
    font-weight: 100;
}

.descr_acc_name>p{
    padding-left: 10px;
    margin: 0;
    color: #a8b2b8;
    font-size: 16px;
    font-family: "FiraSans-Regular";
}

.acc_pt_top{
    padding-top: 0px;
}

.acc_link_pt_top{
    margin-top: 15px;
}

.acc_link:first-child{
    background-color: #f5f8fa;
    border-radius: 50%;
    padding: 10px;
}

.acc_link:last-child{
    margin-left: 30px;
}
.block_acc_wrap{
    display: block;
}
.block_acc_descr{
    background-color: #f5f8fa;
    min-height: 450px;
}

.block_acc_nav{
    padding-top: 50px;
    margin-top: 35px;
    margin-left: 30px;
}

.block_acc_nav>ul{
    list-style-type: none;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.block_acc_nav>ul>li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.block_acc_nav>ul>li>a{
    text-decoration: none;
    font-weight: bold;
    font-family: "FiraSans-Regular";
    padding: 25px 20px;
}

.block_acc_nav>ul>li>a>img{
    padding-right: 20px;
}

.block_acc_nav>ul>li:first-child{
    background-color: #fff;
    color: #003c71;
    border-radius: 3px;
    margin-right: -4px;
    /* padding: 25px 30px; */
}

.block_acc_nav>ul>li:nth-child(2){
    background-color: #fff;
    color: #003c71;
}

.block_acc_nav>ul>li:nth-child(3){
    background-color: #fff;
    color: #003c71;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.block_acc_nav>ul>li:last-child{
    background-image: url(../../../assets/img/btn_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #84bd00;
    border-radius: 3px;
    margin-left: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    padding-right: 50px;
}

.block_acc_nav>ul>li:last-child>a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "FiraSans-Bold";
}


.block_acc_nav>ul>li:last-child>a>img{
    color: #fff;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "FiraSans-Bold";
}

.number_ball{
    background-color: #f5f8fa;
    border-radius: 40%;
    padding: 7px 20px;
    margin-left: 20px;
}

.block_acc_nav_descr{
    padding-top: 15px;
}

.block_acc_nav_descr_h2>h2{
    padding-top: 50px;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "FiraSans-Bold";
    color: #bfc8cd;
}

.acc_card{
    background-color: #fff;
    border-radius: 5px;
    margin: 0px 20px;
    min-width: 330px;
    min-height: 260px;
    box-shadow: 0 0 0px rgba(0,0,0,0.3);
}

.acc_card_descr{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.acc_card_descr>h3{
    font-size: 16px;
    font-family: "FiraSans-Bold";
}

.acc_bable>span{
    font-size: 16px;
    font-family: "FiraSans-Regular";
    font-weight: bold;
    background-color: #f5f8fa;
    border-radius: 40%;
    padding: 5px 18px;
}

.acc_ball{
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.acc_ball_1{
    font-size: 48px;
    font-family: "FiraSans-Bold";
    color: #a8b2b8;
}

.acc_ball_2{
    color: #84bd00;
    font-size: 48px;
    font-family: "FiraSans-Bold";
}

.acc_ball_3{
    color: #a8b2b8;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 50px;
    font-family: "FiraSans-Bold";
}

.acc_ball>a{
    font-size: 12px;
    color: #003c71;
    text-transform: uppercase;
    cursor: pointer;
}

.acc_ball>a:hover{
    color:#84bd00!important;
}

.acc_card_block{
    padding-bottom: 80px;
}

.point_card_descr{
    display: flex;
    justify-content: space-between;
}

.row_items{
    justify-content: center;
    align-items: center;
}

.point_card_descr>h3{
    font-size: 16px;
    font-family: "FiraSans-Bold";
    align-items: center;
    display: flex;
    padding-top: 20px;
}

.point_bable{
    padding-top: 15px;
}

.point_card_box{
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 20px;
    width: 300px;
    min-width: 300px;
    min-height: 210px;
    box-shadow: 0 0 0px rgba(0,0,0,0.3);
}

.point_bable>span{
    font-size: 16px;
    font-family: "FiraSans-Regular";
    font-weight: bold;
    background-color: #f5f8fa;
    border-radius: 40%;
    padding: 5px 18px;
}

.point_ball_1{
    font-size: 42px;
    font-family: "FiraSans-Bold";
    color: #a8b2b8;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point_ball_2{
    color: #84bd00;
    font-size: 48px;
    font-family: "FiraSans-Bold";
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point_ball_3{
    color: #a8b2b8;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 40px;
    font-family: "FiraSans-Bold";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.true_point{
    font-family: "FiraSans-Bold";
    font-size: 40px;
    color: #000;
    padding-left: 15px;
}

.point_card_h2>h2{
    font-family: "FiraSans-Bold";
    font-size: 30px;
    padding-left: 20px;
    color: #000;
}

.my_point{
    display: block;
    padding-top: 30px;
    padding-bottom: 55px;
}

.edit, .album, .money, .play_btn{
    cursor: pointer;
}

.blue_h3{
    font-size: 16px;
    font-family: "FiraSans-Bold";
    text-transform: uppercase;
    color: #003c71;
}
.playBtn{
    position: absolute;
    z-index: 999;
    top: 35%;
    left: 43%;
}

.playVideo{
    min-height: 360px;
    background-color: #000;
    border-radius: 10px;
    margin-left: 15px;
}

.videouroki{
    display: block;
}


.video_prosmotr{
    display: block;
}

.video_block{
    background-color: #c1c1c1;
    cursor: pointer;
}

.video_uroki_block{
    padding-top: 25px;
}

.video_prosmotr{
    padding-top: 25px;
}

.video_descr>h3{
    font-family: "FiraSans-Bold";
    font-size: 24px;
    color: #000;
}

.video_descr>p{
    font-family: "FiraSans-Regular";
    font-size: 16px;
    color: #000;
    padding: 10px 0px;
}
.block_acc{
    min-height: 500px;
}
.test_wrap{
    background-color: #003c71;
    width: 97%;
    max-width: 97%!important;
    margin-bottom: 35px;
    min-height: 60px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test_go{
    font-family: "FiraSans-Bold";
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 10px;
}

.test_wrap_non{
    background-color: #dedede;
    width: 97%;
    max-width: 97%!important;
    margin-left: 7px;
    margin-bottom: 35px;
    margin-top: 20px;
    min-height: 60px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.test_non{
    font-family: "FiraSans-Bold";
    font-size: 14px;
    text-transform: uppercase;
    color: #a8b2b8;
    padding-top: 5px;
}


.active-tab{
    background-color: #003c71 !important;
}
.active-tab a{
    color: #fff !important;
}
.active-tab a img:first-child{
    display: none;
}
.active-tab a img:nth-child(2){
    display: inline;
}
.active-tab a .number_ball{
    color: #003c71 !important;
}
.icons_edit{
    display: none;
}
.img_active_money{
    display: none;
}
.img_active_album{
    display: none;
}

/* MODAL in VIDEO */
.modal_video{
    display: block;
}

.video_list{
    padding-top: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mt_top{
    margin-top: 50px;
}

.strong_descr{
    font-family: "FiraSans-Bold";
    font-size: 16px;
    font-weight: bolder;
}

.video_list>li{
    display: flex;
    justify-content: space-between;
}

.f5f8fa{
    background-color: #f5f8fa;
    border-radius: 3px;
}

.video_li{
    padding: 20px 10px;
}

.video_li_descr{
    font-family: "FiraSans-Regular";
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.modal_video_overlay{
    overflow: auto;
}

.video_footer{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.video_footer>li>a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.test{
    background-color: #003c71;
    border-radius: 3px;
    cursor: pointer;
}

.test>a{
    color: #fff!important;
    text-transform: uppercase;
    padding: 20px 0px;
}

.videocollection{
    color: #003c71;
    text-transform: uppercase;
    border: 1px solid #003c71;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.videocollection>a{
    padding: 20px 0px;
}

/* TEST */
.test_wrap_next{
    background-color: #003c71;
    max-width: 95%!important;
    margin-left: 30px;
    margin-bottom: 20px;
    min-height: 60px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.test_go_next{
    font-family: "FiraSans-Bold";
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test_cancel{
    border: 1px solid #003c71;
    max-width: 95%!important;
    margin-left: 30px;
    margin-bottom: 35px;
    min-height: 60px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.test_cancel_descr{
    font-family: "FiraSans-Bold";
    color: #003c71;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_descr{
    color: #000;
    font-family: "FiraSans-Bold";
    font-size: 24px;
    padding-left: 15px;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio_test{
    padding: 15px 15px;
    display: block;
    cursor: pointer;
}

.radio_test::before{
    content: '';
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 100%;
    display: inline-block;
    width: 2em;
    height: 2em;
    position: relative;
    top: -0.2em;
    margin-right: 1em; 
    vertical-align: middle;
    cursor: pointer;
}

.radio:checked + .radio_test::before{
    background-color: #84bd00;
    box-shadow: inset 0 0 0 6px #f4f4f4;
}
.radio:active{
    background-color: #84bd00;
    box-shadow: inset 0 0 0 6px #f4f4f4;
}

.radio_form{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 20px;
}

.pagination_test{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.pagination_descr{
    display: inline-flex;
    width: 50px;
    height: 60px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #CCF;
    margin: 0px 5px;
    border-radius: 5px;
}

.pagination_descr>a{
    text-decoration: none;
    padding: 12px 20px;
}

.times_test{
    font-family: "FiraSans-Regular";
    font-size: 24px;
    color: #000;
}

.times_test>strong{
    font-family: "FiraSans-Bold";
    font-size: 24px;
    font-weight: bolder;
}

.test_block{
    display: block;
    padding-bottom: 40px;
}

.success_h2{
    font-size: 36px;
    font-family: "FiraSans-Bold";
    color: #84bd00;
    padding-left: 20px;
    margin: 0;
    padding-top: 10px;
}

.test_result{
    padding-left: 20px;
    padding-bottom: 75px;
    margin: 0;
    font-size: 24px;
    color: #000;
    font-family: "FiraSans-Regular";
}

.row_m{
    margin: 0;
}