<template>
<div>
  <div class="modal_autorization">
  <div class="modal_overlay">
    <div class="modal_window fadeInDown" v-if="seen !== true" v-wow data-wow-iteration="1">
      <div class="modal_header">
        <span class="modal_title">
          {{$store.state.transData['Напишите нам']}}
        </span>
        <span class="modal_close modal_auto_close" @click="$emit('closeFeedBack')"><img src="../../assets/img/cancel.png" alt=""></span>
      </div>
      <div class="modal_body">
        <div class="modal_feed_descr_2" :class="{'form-group--error': $v.name.$error}">
          <span class="input_text">
            {{this.$store.state.transData['Имя']}}
            <span class="txt_color_red">*</span>
          </span>
          <input
            class="input_form"
            placeholder
            type="text"
            @blur="$v.name.$touch()"
            v-model.trim="name"
            :class="{'is-invalid': $v.name.$error}"
          />
          <span
            class="error-text"
            v-if="$v.name.$error && $v.name.minLength"
          >Пожалуйста заполните обязательное поле Ваше имя</span>
          <span
            class="error-text"
            v-if="!$v.name.minLength"
          >В имени должно быть минимум 4 буквы</span>
        </div>
        <div class="modal_feed_descr_2">
            <span class="input_text">
              {{this.$store.state.transData['Ваш номер телефона']}}
              <span class="txt_color_red">*</span>
            </span>
            <the-mask
              :mask="['+#(###)###-########']"
              class="input_form"
              placeholder
              :class="{'is-invalid': $v.number.$error}"
              type="text"
              v-model.trim="number"
              @focus="serverError === ''"
              @blur="$v.number.$touch()"
            />
            <span class="error-text" v-if="!$v.number.minValue">Не менее 12 символов</span>
            <span
              class="error-text"
              v-if="$v.number.$error && $v.number.minValue"
            >Пожалуйста заполните обязательное поле Ваш номер телефона</span>
        </div>
        <div class="modal_feed_descr_2">
          <span class="input_text">
            {{this.$store.state.transData['Сообщение']}}
          </span>
          <textarea
            class="input_form"
            placeholder
            type="text"
          />
        </div>
      </div>
      <div class="modal_footer">
        <button class="reg_btn btn_w" type="submit" @click.prevent="onSubmit">
          <span>
            {{$store.state.transData['Отправить']}}
          </span>
        </button>
      </div>
    </div>
    <div class="modal_alert" v-if="seen" style="margin-top: 100px">
  <div class="modal_window_alert fadeInDown" v-wow>
    <div class="modal_header">
      <span class="modal_title" style="padding-bottom: 30px">{{$store.state.transData['Ваша заявка успешно отправлена!']}}</span>
      <span class="modal_close modal_alert_cancel" @click="$emit('closeFeedBack')"><img src="../../assets/img/cancel.png" alt=""></span>
    </div>
  </div>
</div>
  </div>
</div>

</div>

</template>
<script>
import axios from "axios";
import {
  required,
  minLength,
  minValue
} from "vuelidate/lib/validators";
import MaskedInput from "vue-masked-input";
import { TheMask } from "vue-the-mask";
export default {
  data(){
    return{
      number: '',
      name: '',
      seen: false,
      text: ''
    }
  },
  validations: {
    name: {
      required,
      minLength: minLength(4)
    },

    number: {
      required,
      minLength: minLength(11),
      minValue: minValue(11)
    },
  },
  components: {
    MaskedInput,
    TheMask
  },
  methods: {
    feedBack(){
      let selectItem = localStorage.getItem('language')
      if(localStorage.getItem('language') ){
        let select = JSON.parse(selectItem)
      axios({
        method: 'post',
        url: `${this.$store.state.url}users/feedback`,
        headers: {
          'Content-Language' : select.title.toLowerCase()
        },
        data: {
          name: this.name,
          phone: this.number
        }
        })
        .then(res => this.text = res.data.data)
        // .then(this.$emit('closeFeedBack'))
        .then(this.seen = true)
      }else{
        let select = JSON.parse(selectItem)
      axios({
        method: 'post',
        url: `${this.$store.state.url}users/feedback`,
        headers: {
          'Content-Language' : 'ru'
        },
        data: {
          name: this.name,
          phone: this.number
        }
        })
        .then(res => this.text = res.data.data)
        // .then(this.$emit('closeFeedBack'))
        .then(this.seen = true)
      }
    },
    onSubmit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        this.submitStatus = "Pending";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
        this.feedBack()
      }
    }
  },
  mounted(){

  }
}
</script>
<style>
.modal_feed_descr_2{
  padding-top: 20px;
}
.btn_w{
  max-width: 482px;
  width: 482px;
}
</style>
