<template>
  <div class="modal_autorization">
  <div class="modal_overlay">
    <div class="modal_window fadeInDown" v-wow data-wow-iteration="1">
      <div class="modal_header">
        <span class="modal_close modal_auto_close" @click="$emit('closeNewPass')"><img src="../../assets/img/cancel.png" alt=""></span>
      </div>
      <div class="modal_body">
        <div class="modal_auto_descr_2">
          <span class="input_text modal_auto_descr_2">{{$store.state.transData['Введите пароль c почты']}}<span class="txt_color_red">*</span></span>
           <input
                  class="input_form"
                  id="password"
                  placeholder="••••••••••••"
                   :class="{'is-invalid': $v.password.$error}"
                  type="password"
                  autocomplete="cc-number"
                  v-model.trim="password"
                  @o="$v.password.$touch()"
                  />
                  <span class="error-text" v-if="!$v.password.minLength">
                    Минимум {{ $v.password.$params.minLength.min }} символов, у вас {{ password.length }}
                  </span>
        </div>
      </div>
      <div class="modal_footer">
        <a class="auto_btn" @click="loginNewPass()">
          <span>{{$store.state.transData['В личный кабинет']}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import { required, minLength, email } from "vuelidate/lib/validators";

export default {
  data(){
    return {
      password: ''
    }
  },
  validations: {
    password:{
      minLength: minLength(4)
    }
  },
  methods: {
    loginNewPass(){
      let selectItem = localStorage.getItem('language')
      if(localStorage.getItem('language') ){
        let select = JSON.parse(selectItem)
        axios
        .get(`${this.$store.state.url}auth/code`,{
          headers: {
            'Content-Language': select.title.toLowerCase()
          },
          params: {
            user_id: this.$store.state.user_id,
            code: this.password
          }
        })
        .then(res => {
          localStorage.setItem('usertoken', res.data.token)
          this.$router.push({path: '/account'})
          this.$emit('closeNewPass')
          this.$store.state.accountIn = true
        })
      }else{
        axios
        .get(`${this.$store.state.url}auth/code`,{
          headers: {
            'Content-Language': 'ru'
          },
          params: {
            user_id: this.$store.state.user_id,
            code: this.password
          }
        })
        .then(res => {
          localStorage.setItem('usertoken', res.data.token)
          this.$router.push({path: '/account'})
          this.$emit('closeNewPass')
          this.$store.state.accountIn = true
        })
      }
    }
  }
}
</script>

<style>

</style>
