<template>
  <div>
    <b-container>
      <b-row>
        <div class="mobileMenu">
          <div class="mob_header">
            <router-link to="/" tag="a">
              <img class="size_logo" :src="$store.state.logo.logotype" alt="">
            </router-link>
          </div>
        <Loader v-if="loader" class="loader_position"  />
          <ul v-else>
            <li v-for="(m, index) in menu" :key="index" @click="$emit('closeMob')">
              <router-link :to="'/' + m.url" tag="a">{{m.title}}</router-link>
            </li>
            <div class="mob_icon_user">
              <div class="logout" v-if="$store.state.accountIn == true" @click="accountGo(), $emit('closeMob')">
                <img src="../assets/img/user_modal.png" alt="">
              </div>
              <div class="logout_btn_mob logout" v-if="$store.state.accountIn == true" @click="accountOut(), $emit('closeMob')">
                <img src="../assets/img/logout.png" alt="">
              </div>
            </div>
            <div v-if="$store.state.accountIn == false" md="5" cols="3" sm="3" class="login_btn" @click="$emit('open'), $emit('closeMob')">
              <img src="../assets/img/user.png" alt="">
              <span>{{$store.state.transData['Войти в кабинет']}}</span>
            </div>

          </ul>
          <div class="mob_footer">
            <p @click="$emit('closeMob')">
              <img class="closeMob_style" src="../assets/img/close_mob.png" alt="">
            </p>
          </div>
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
import Loader from '@/views/Loader'
import { SidebarMenu } from 'vue-sidebar-menu'
export default {
  data(){
    return{
      menu: [],
      loader: true,
    }
  },
  components: {
      SidebarMenu,
      Loader
  },
  methods: {
    accountOut(){
      this.$router.push({name: "Home" });
      this.$store.state.accountIn = false
      localStorage.removeItem('usertoken')
    },
    accountGo(){
      this.$router.push({path: "/account"})
    },
    search(){
      let searchValue = this.searchValue
      this.$router.push({ path: `/Search/${searchValue}`} )
    },
  },
  mounted(){
    let selectItem = localStorage.getItem('language')
    if(localStorage.getItem('language') ){
      let select = JSON.parse(selectItem)
      this.selected = select
      this.loader = true;
       axios.get(`${this.$store.state.url}users/menu`, {headers: {'Content-Language' : select.title.toLowerCase() }}).then(res => {this.menu = res.data.data; this.loader = false})
    }else{
      this.loader = true;
       axios.get(`${this.$store.state.url}users/menu`, {headers: {'Content-Language' : 'ru'}}).then(res =>{this.menu = res.data.data; this.loader = false})
    }


  }
}
</script>

<style>
  .mob_icon_user{
    display: flex;
    justify-content: space-between;
  }
  .closeMob_style{
    width: 35px;
    height: 35px;
  }
  .logout_btn_mob{
    padding: 20px 0px;
  }
  .mobileMenu{
    position: fixed;
    background-color: #fff;
    height: 100vh;
    z-index: 99;
    transition: .5s;
    width: 100%;
    text-align: center;
    /* transform: translateX(-100%); */
    font-size: 20px;
    left: 0;
    font-weight: bold;
    padding-top: 1rem;
    top: 0;
    display: flex;
    align-items: center;
    transform: translateX(0);
    flex-direction: column;
    justify-content: space-between;
  }
  .mobileMenu > ul{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
  }
  .size_logo{
    width: 90px;
    height: 90px;
    /* padding-top: 1px; */
    margin-top: 25px;
  }
  @media screen and (max-width: 769px){
    .loader_position{
      left: 37%;
    }
  }
  @media screen and (max-width: 480px){
    .loader_position{
      left: 23%;
    }
  }
</style>
