<template>
    <section>
        <footerBlueComponents></footerBlueComponents>
        <footerEndComponents @openFeedBack="showFeedBack = !showFeedBack"></footerEndComponents>
        <feedbackModal v-if="showFeedBack" @closeFeedBack="showFeedBack = false"></feedbackModal>
    </section>
</template>

<script>
import footerEndComponents from "@/components/footerChild/footer_end.vue"
import footerBlueComponents from "@/components/footerChild/footer_blue.vue"
import feedbackModal from '@/components/homePageModals/feedbackModal'

export default {
  data(){
    return{
      showFeedBack: false
    }
  },
    components:{
      footerEndComponents,
      footerBlueComponents,
      feedbackModal
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
