<template>
<header class="slideInLeft" v-wow data-wow-duration = "2.5s" data-wow-iteration = "1">
<b-container>
	<b-row>
		<b-col cols="9" md="6" sm="12" xl="3" lg="3" class="logo">
      <b-row>
        <b-col cols="3" md="4" sm="4" xl="4" lg="4" class="logo_blocks logotip">
          <router-link to="/" tag="a"><img :src="$store.state.logo.logotype" alt=""></router-link>
        </b-col>
        <b-col md="8" sm="8" cols="9" xl="8" lg="8" class="logo_blocks logotip_descr">
          <p>{{$store.state.logo.text}}</p>
        </b-col>
      </b-row>
		</b-col>
		<b-col md="6" sm="12" cols="3" xl="5" lg="5" class="nav_menu">
			<ul class="desktop_menu">
				<li v-for="(menuTitle, index) in menu" :key="index" @click="activeLinkHeader = 3">
          <router-link :to="'/'+menuTitle.url" active-class="headerActive" >{{menuTitle.title}}</router-link>
        </li>
        <a @click="find = !find" class="find_btn"><img src="../assets/img/magnifying-glass.png" alt="find"></a>
          <transition name="fade">
            <input v-if="find" @keyup.enter="search()" v-model="searchValue" class="find_input" placeholder="Поиск" />
          </transition>
			</ul>

      <a class="mob_btn"><img  @click="mobile_menu = !mobile_menu" src="@/assets/img/mob.png" /></a>
      <transition name="fade">
        <adaptiveMenu v-if="mobile_menu" @closeMob="mobile_menu = false" @open="$emit('open')" class="mobile_menu"></adaptiveMenu>
      </transition>

    </b-col>
		<b-col md="6" sm="12" cols="6" xl="4" lg="4" class="ipad_mob">

			<b-col md="4" cols="12" sm="4">
        <v-select v-model="selected" @input="setSelected()" :options="optionLang" label="title" class="s">
          <template #selected-option-container="{ option }">
              <div class="vs__selected">{{ option.title }}</div>
              <img class="flagsCountry"  :src="option.srcLang" />
          </template>
        </v-select>
			</b-col>

			<b-col md="3" cols="3" sm="3" class="logout logout_btn desktop_menu" v-if="$store.state.accountIn == true" @click="accountOut()">
				<img src="../assets/img/logout.png" alt="">
				<!-- <span>{{$store.state.transData['Выйти']}}</span> -->
			</b-col>
      <b-col md="3" cols="3" sm="3" class="login_btn logout desktop_menu" v-if="$store.state.accountIn == true" @click="accountGo()">
				<img src="../assets/img/user.png" alt="">
				<span>{{$store.state.transData['Личный кабинет']}}</span>
			</b-col>
      <b-col v-if="$store.state.accountIn == false" md="5" cols="3" sm="3" class="login_btn desktop_menu" @click="$emit('open')">
				<img src="../assets/img/user.png" alt="">
				<span>{{$store.state.transData['Войти в кабинет']}}</span>
			</b-col>
		</b-col>
    <b-col class="find_btn_mob" cols="6" sm="6">
      <div class="find_btn_mob_block">
        <a class="find_btn"><img src="../assets/img/magnifying-glass.png" alt="find"></a>
        <transition name="fade">
          <input @keyup.enter="search()" class="find_input" placeholder="Поиск" />
        </transition>
      </div>
    </b-col>
	</b-row>
</b-container>
</header>

</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import { mapActions } from 'vuex'
import adaptiveMenu from '@/components/adaptiveMenu.vue'

export default {
  data(){
    return {
    headerActiveClass: "headerActive",
    searchValue: '',
    activeLinkHeader: false,
    logoDescr: '',
    translate: '',
    mobile_menu: false,
    find: false,
    menu: '',
    optionLang: [
      {
        srcLang: require('../assets/img/kz.png'),
        title: 'KZ'
      },
      {
        srcLang: require('../assets/img/ru.png'),
        title: 'RU'
      },
      {
        srcLang: require('../assets/img/en.png'),
        title: 'EN'
      }
    ],
    selected:
      {
        srcLang: require('../assets/img/ru.png'),
        title: 'RU'
      }
  }
  },
  components: {
    adaptiveMenu
  },
  methods: {
    open(){
      this.$emit('open')
    },
    search(){
      let searchValue = this.searchValue
      this.$router.push({ path: `/Search/${searchValue}`} )
    },
    setSelected(){
      localStorage.setItem('language', JSON.stringify(this.selected))
      let selectItem = localStorage.getItem('language')
      let select = JSON.parse(selectItem)
      this.selected = select
      axios.get(`${this.$store.state.url}users/menu`, {headers: {'Content-Language' : select.title.toLowerCase()} }).then(res => this.menu = res.data.data )
      location.reload(true)
    },
    accountOut(){
      this.$router.push({name: "Home" });
      this.$store.state.accountIn = false
      localStorage.removeItem('usertoken')
    },
    accountGo(){
      this.$router.push({path: "/account"})
    },
    ...mapActions(['fetchLogo']),
    ...mapActions(['fetchTranslate'])
  },

  created(){
    let selectItem = localStorage.getItem('language')
    let select = JSON.parse(selectItem)

    if(localStorage.getItem('language')){
      this.selected = select
       axios.get(`${this.$store.state.url}users/menu`, {headers: {"Content-Language" : select.title.toLowerCase() }}).then(res => this.menu = res.data.data )
    }else{
       axios.get(`${this.$store.state.url}users/menu`, {headers: {"Content-Language" : 'ru'}}).then(res => this.menu = res.data.data )
    }

     this.fetchLogo()
     this.fetchTranslate()
     this.logoDescr = this.$store.state.logo
    if(localStorage.usertoken){
      this.$store.state.accountIn = true
    }else{
      this.$store.state.accountIn = false
    }
  },
  mounted(){

  },
}
</script>

<style>


.find_btn_mob{
  display: none;
}
.vs__dropdown-option{
  background-color: #fff;
  border: 3px solid #f0f3f5;
  border-radius: 5px;
  padding: 5px 49px;
}
#vs1__combobox{
  display: inline-flex;
  border: 3px solid #f0f3f5;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  align-items: center;
}
.vs__search, .vs__clear{
  display: none;
}
.arrow_lang{
  cursor: pointer;
}
.mob_btn{
  display: none;
}
.mob_btn > img{
  width: 35px;
  height: 35px;
}
header{
	background-color: #fff;
	box-shadow: 0 0 25px rgba(0,0,0,0.2);
	width: 100%;
  position: relative;
  z-index: 999;
}

.logout{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

.logo_blocks{
	margin: 0;
	padding: 0;
}

.logout_btn{
  text-align: center;
  margin-left: 15px;
  cursor: pointer;
}

.logotip_descr{
  color: #a8b2b8;
  font-size: 14px;
  margin: 0;
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.logotip{
	padding-bottom: 15px;
	padding-top: 25px;
	text-align: center;
}

.logotip>a>img{
  width: 100%;
  max-width: 80%;
}

.nav_menu{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.nav_menu>ul>li{
	display: inline;
	padding-right: 20px;
  text-align: center;
}

.nav_menu>ul>li:nth-child(3){
  margin-bottom: 30px;
}

.nav_menu ul li a{
  font-family: "FiraSans-Bold";
  font-size: 18px;
  color: #000;
}

.nav_menu>ul{
	margin: 0;
	padding: 45px 0px;
	list-style-type: none;
}

.find_btn{
  display: inline-block;
  cursor: pointer;
}
.vs__selected-options{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.find_btn{
  padding: 0px;
}

.flagsCountry{
  width: 35px;
  height: 35px;
  margin: 0px 10px;
}

.vs__dropdown-menu{
  list-style-type: none;
  padding-left: 20px;
  position: absolute;
  padding: 0px;
}

.vs__dropdown-option{
  cursor: pointer;
}

.ipad_mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pd_0{
  padding: 30px;
}

.login_btn{
  padding: 20px 20px;
  display: inline;
  background-image: url('../assets/img/login_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 'FiraSans-Bold';
  font-size: 12px;
  text-transform: uppercase;
  min-height: 50px;
  margin-left: 10px;
  min-width: 185px;
}
.headerActive{
	color: #84bd00!important;
}
.login_btn>span{
  padding-left: 15px;
}
.login_btn:hover{
  opacity: .7;
  transform: scale(0.9);
  -webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.mobile_menu{
  display: none!important;
}
.desktop_menu{
  display: block!important;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.logo_blocks{
  display: flex;
  justify-content: center;
  align-content: center;
}
.find_block{
  display: flex;
  flex-direction: row-reverse;
  margin-top: -35px;
  margin-left: -45px;
}
.find_input{
  margin-left: 10px;
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  max-width: 110px;
  border: 3px solid #f0f3f5;
  border-radius: 5px;
}
@media screen and (max-width: 769px){
   .find_btn_mob_block{
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .find_btn_mob{
    display: flex;
    justify-content: center;
  }
  .mob_btn{
    display: flex;
    justify-content: center;
  }
  .nav_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .find_btn{
    padding-bottom: 0px!important;
  }

  .mobile_menu{
    display: block!important;
  }
  .desktop_menu{
    display: none!important;
  }
  .pd_0{
    padding-top: 15px;
  }
  .ipad_mob{
    display: flex;
  }
}
@media screen and (max-width: 480px){
  .find_btn_mob_block{
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .find_btn_mob{
    display: flex;
    justify-content: center;
  }
  .mob_btn{
    display: flex;
    justify-content: center;
  }
  .nav_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .find_btn{
    padding-bottom: 0px!important;
  }

  .mobile_menu{
    display: block!important;
  }
  .desktop_menu{
    display: none!important;
  }
  .pd_0{
    padding-top: 15px;
  }
  .ipad_mob{
    display: flex;
  }
}

</style>
