<template>
<div class="news_descr">
<b-container>
      <b-row>
          <b-col md="12">
            <div class="about_link news_route">
                <router-link to="/">{{$store.state.transData['Главная']}}  </router-link> / <router-link to="/news"> {{$store.state.transData['Новости']}} </router-link> / <span>{{innerNewsId.name}}</span>
            </div>
          </b-col>
      </b-row>
</b-container>
<b-container>
    <b-row>
        <b-col md="12">
        <div v-for="newsItem in innerNews.data" :key="newsItem.id">
            <div class="newsItemStyle" v-if="newsItem.id == $route.params.id">
              <h2>{{innerNewsId.name}}</h2>
              <div class="descr" v-html="innerNewsId.full_description"></div>
            </div>
        </div>
        </b-col>
    </b-row>
</b-container>
<!-- <homeForms></homeForms> -->
</div>
</template>

<script>
import homeForms from '@/components/homePageComponents/homeForms'
import axios from 'axios'
export default {
    data(){
        return{
            id: this.$route.params.id,
            innerNewsId: '',
            innerNews: '',
                // {
                //     id: 1,
                //     title: "Международная научно-практическая конференция",
                //     img: require('../../assets/img/conf.png'),
                //     description: 'Сегодня антибиотикотерапия удерживает лидирующие позиции в статистике назначаемого лечения при заболеваниях, вызванных патогенными микроорганизмами. К таким заболеваниям в первую очередь следует отнести инфекции мочевых путей (ИМП), которые являются одними из наиболее частых причин обращения женщин за медицинской помощью. Тем не менее длительное, неконтролируемое и безосновательное назначение антибактериальных средств, что особенно часто встречается в современной клинической практике, приводит к массе негативных последствий',
                //     descriptionBottom: 'Главной целью конференции являлось укрепление сотрудничества, обмен опытом между медицинской общественностью и всестороннее обсуждение вопросов клинической, высокоэффективной и безопасной терапии инфекций мочевыводящих путей (ИМП) Новое знаковое исследование в эпоху устойчивости к антибиотикам «CAN UTI-7», где Канефрон® Н не уступает фосфомицину в лечении острых, неосложненных ИМП. Это новый эталон в качестве альтернативы в лечении острой ИМП у женщин. Следовательно, Препарат Канефрон® Н обладает потенциалом снизить потребление АБ при лечении нИНМП и, следовательно, может существенно повлиять на стратегию рационального применения противомикробной терапии. (Florian M. Wagenlehnerб at all, 2018) В конференции приняли участие врачи разных специальностей из Казахстана, Кыргызстана и Беларуси Главной целью конференции являлось укрепление сотрудничества, обмен опытом между медицинской общественностью и всестороннее обсуждение вопросов клинической, высокоэффективной и безопасной терапии инфекций мочевыводящих путей (ИМП)/ Новое знаковое исследование в эпоху устойчивости к антибиотикам «CAN UTI-7», где Канефрон® Н не уступает фосфомицину в лечении острых, неосложненных ИМП. Это новый эталон в качестве альтернативы в лечении острой ИМП у женщин. Следовательно, Препарат Канефрон® Н обладает потенциалом снизить потребление АБ при лечении нИНМП и, следовательно, может существенно повлиять на стратегию рационального применения противомикробной терапии. (Florian M. Wagenlehnerб at all, 2018)Применение препарата Канефрон® Н позволяет уменьшить выраженность симптомов ИНМП (боль, жжение, спазм, воспаление), ¬подавить рост патогенных микроорганизмов и способствует их выведению из организма за счет мягких диуретических свойств препарата. Также в сравнении с АБ, Канефрон® Н защищает микробиом пациента, что в свою очередь позволяет предупредить возможные рецидивы инфекции. Более того, высококачественные растительные препараты не дают побочных эффектов, хорошо переносятся при клиническом применении в педиатрической, терапевтической, нефрологической, гинекологической и урологической практиках.'
                // },
                // {
                //     id: 2,
                //     title: "Верное решение для «маленьких» проблем ",
                //     img: require('../../assets/img/cistit.jpg'),
                //     description: 'Одним из малоприятных заболеваний, получивших широкое распространение в современном мире, является воспаление мочевого пузыря, или Цистит. ',
                //     descriptionBottom: 'Лечение цистита, несмотря на значительный арсенал антибактериальных препаратов, представляет собой непростую задачу. В основном, эти средства убирают симптомы, но сам воспалительный процесс остается. Стоит обратить внимание на то, что для человека, перенесшего однажды цистит, риск заболеть им повторно возрастает в несколько раз. Поэтому рекомендации специалиста и вовремя начатое лечение позволяет решить эту проблему довольно быстро.Залогом высокой эффективности лечения этой коварной болезни является комплексный и последовательный подход к терапии. Основой лечения цистита в большинстве случаев является адекватная антибактериальная терапия, назначенная врачом. Тут необходимо подчеркнуть слова «адекватная» и «назначенная врачом». Потому что бесконтрольное употребление антибиотиков приводит к антибиотикорезистентности, что чревато плачевными последствиями, например, в случае с циститом переходом острого заболевания в хроническую форму с возможностью тяжелых осложнений!Антибактериальные препараты успешно справляются с инфекцией, но не обеспечивают оптимального лечения. В настоящее время в стандарты лечения комплексной и профилактической терапии внедряются лекарственные препараты растительного происхождения.Растения с целебными свойствами издавна используют для лечения различных заболеваний, в том числе мочевыделительной системы. Растительные препараты не несут такого количества побочных эффектов, как химические, хорошо переносятся при применении в педиатрической, терапевтической, гинекологической и урологической практике. Благодаря накопленным знаниям в области фитотерапии, а также развитию технологий производства появились качественные и эффективные препараты на растительной основе с благоприятным профилем безопасности, разработанные согласно концепции ФИТОНИРИНГА. Это научно-технологическая концепция неразрывно связана с деятельностью компании «Бионорика»Сегодня, «Бионорика» -  один из ведущих производителей в мире растительных лекарственных препаратов. «Бионорика» разрабатывает и производит высокоэффективные растительные лекарственные препараты, которые соответствуют современным требованиям мировых стандартов качества. На основе этой непрерывной работы были созданы лекарства наивысшего качества, олицетворяющие высокую международную репутацию и успех компанииОдним из таких препаратов является Канефрон® Н – немецкий растительный лекарственный препарат для лечения заболеваний почек и мочевыводящих путей благодаря его уникальной комбинации трех трав (золототысячник, корень любистока и листьев розмарина).Канефрон® Н обладает всеми качествами для эффективного лечения цистита: противовоспалительным, спазмолитическим, антиадгезивным, мягким мочегонным и противомикробным действиями. Канефрон®  Н показан как основная (базисная) терапия при острых неосложненных циститах, а также как компонент комплексной терапии при хронических процессах (интерстициальный нефрит, пиелонефрит, гломерулонефрит и мочекаменная болезнь). Адекватная и своевременная терапия позволяет в короткие сроки добиться устранения симптомов цистита, а также предотвратить распространение инфекции в почки, сохранить результаты лечения и снизить риск повторного обострения болезни. Канефрон® Н — это современный подход к лечению урологических заболеваний в согласии с наукой и природой!'
                // },
                // {
                //     id: 3,
                //     title: "Отеки, лечить или не лечить? Вот в чем вопрос! ",
                //     img: require('../../assets/img/otek.jpg'),
                //     description: 'Отёк — избыточное накопление жидкости организме, внеклеточных тканевых пространствах организма в результате плохого лимфообращения, если нету других серьезных причин.',
                //     descriptionBottom: 'Канефрон Н – лекарственный, растительный препарат с мочегонным, противовоспалительным, антисептическим и спазмолитическим эффектами, и широко применяется в урологической практике. Еще одним его достоинством является возможность сочетания с прочими медикаментами, с которыми он, как правило, не вступает во взаимодействие. Применять Канефрон от отеков, вызванных скоплением жидкости в организме, абсолютно безопасно. Не обезвоживает и не выводит полезные микроэлементы из организма!  Диуретический эффект «мягкий». Это лекарство имеет минимум побочных эффектов и противопоказаний, что отчасти объясняется его фитосоставом.Канефрон содержит в себе три экстракта лекарственных растений, а именно: любистка, золототысячника, розмарина. Канефрон предлагается в аптеках в виде таблеток и спиртового раствора во флаконах по сто миллилитров, обе формы одинаково эффективны. Курсом от 2 до 3 недель по 2 др. 3 раза в день, соблюдая питьевой режим, до 2 литров чистой воды в сутки.Инструкция по применению Канефрон!!!Препятствием к применению лекарства может стать только индивидуальная непереносимость компонентов в его составе, т.е. аллергия на лекарственные экстракты.'
                // },
                // {
                //     id: 4,
                //     title: "СИНУПРЕТ® ЭФФЕКТИВНО УСТРАНЯЕТ ЗАЛОЖЕННОСТЬ НОСА, ЛИЦЕВЫЕ / ГОЛОВНЫЕ БОЛИ У ДЕТЕЙ С 2-Х ЛЕТ ПРИ НАСМОРКЕ И РИНОСИНУСИТЕ",
                //     img: require('../../assets/img/sinupret.png'),
                //     description: 'Насморк или ринит - это в первую очередь воспалительный процесс, который развивается в полости носа в результате проникновения возбудителей инфекции или контакта с аллергенами. ',
                //     descriptionBottom: 'Уникальным препаратом по своей комбинации и концепции производства – является препарат, Синупрет производимый по концепции: Фитониринг*. Синупрет обладает: противовоспалительным, противоотечным и секретолитическим действием = нормализует вязкость слизи и мукоцилиарного транспорта, облегчает носовое дыхание, раскрывает соустья и восстанавливает дренаж синусов Насморк или ринит - это в первую очередь воспалительный процесс, который развивается в полости носа в результате проникновения возбудителей инфекции или контакта с аллергенами. Что происходит? Нарушается активность работы мукоцилиарного клиренса (одного из важнейших условий поддержания местного иммунитета) = Верхние дыхательные пути становятся «входными воротами» для респираторных инфекций = В носовых ходах и околоносовых пазухах образуются скопления слизи = усугубляется затрудненное дыхание = появляется питательная среда для развития условно-патогенных бактерий = присоединяется вторичная бактериальная инфекция = развиваются осложнения.Для терапии, и предотвращения таких проблем: ВСЕГДА ВСЕМ КЛИЕНТАМ !!!РЕКОМЕНДУЙТЕ СИНУПРЕТ! И у вас непременно станет больше клиентов, которые доверяют Вам и будут приобретать именно в вашей аптеке. '
                // },
                // {
                //     id: 5,
                //     title: "Синупрет обладает комбинированным действием на процесс воспаления, включая муколитический эффект.",
                //     img: require('../../assets/img/sinupret2.jpg'),
                //     description: 'В этом лекарственном средстве подобрана уникальная комбинация растений, которая позволяет применять его для лечения воспалительных заболеваний ВДП различной природы, так как он обладает секретолитическим, антивирусным, иммуномодулирующим и противовоспалительным свойствами. ',
                //     descriptionBottom: 'Многокомпонентное действие, высокий терапевтический эффект и растительное происхождение препарата Синупрет указывает на его преимущества перед другими муколитиками, особенно при лечении детей. Использование Синупрет - возможность осуществить многофункциональный подход в терапии, в том числе заболеваний ЛОР-органов.Высокое качество препарата обусловлено качественностью первичного материала, тщательным контролем и строгими требованиями к составу и чистоте компонентов, а также стандартизированностью процесса его производства.Основное действие Синупрет: восстановление мукоциллиарного механизма и уменьшение отека слизистой оболочки, что способствует более быстрому разрешению воспалительного процесса. В производстве препарата используют лишь цветки примулы, так как в остальных частях этого растения содержится вещество примин, который является аллергеном. Тем самым препарат Синупрет не содержит веществ, способных вызвать аллергию.'
                // },
                // {
                //     id: 6,
                //     title: "COVID-19 у детей. Анализ китайских данных",
                //     img: require('../../assets/img/covid19.png'),
                //     description: 'С 16 января по 8 февраля 2020 года Chinese Center for Disease Control and Prevention выявил инфекцию COVID-19 у 2143 детей в возрасте от 1 дня до 18 лет. Средний возраст детей составил 7 лет, 57% мальчики.  Из них у 731 ребенка (34%) был лабораторно подтвержден SARS-CoV-2. У 1412 детей было подозрение на коронавирусную инфекцию на основании клинических симптомов, результатов лабораторных исследований или тех и других. ',
                //     descriptionBottom: '4% детей не имели симптомов и у 90% имелись симптомы легкой или умеренной степени тяжести. У 5% детей заболевание было тяжёлым с сатурацией кислородом <92%, 0,6% детей (33 случая) имели критическое заболевание с острым дыхательным дистресс-синдромом или дыхательной недостаточностью и возможно дисфункцией других органов, включая 1 смерть у мальчика 14 лет. Наиболее высокая частота тяжелой/критической болезни (11%) наблюдалась у детей в возрасте до 1 года. Среднее время от начала симптомов до установления диагноза составило 2 дня (от 0 до 42 дней). Отмечено быстрое увеличение случаев болезни на ранней стадии эпидемии и затем постепенное неуклонное снижение заболеваемости. Дети в любом возрасте оказались восприимчивыми к COVID-19, не найдено достоверных гендерных различий. Хотя клинические проявления у детей с COVID-19, как правило, были менее тяжелыми, чем у взрослых, маленькие дети, особенно до года, часто имели тяжелое течение вирусной инфекции. '
                // }
        }
    },
    created(){
      let selectItem = localStorage.getItem('language')
      if(localStorage.getItem('language') ){
        let select = JSON.parse(selectItem)
        axios
          .get(`${this.$store.state.url}users/news`, {headers: {'Content-Language' : select.title.toLowerCase()}})
          .then(response => this.innerNews = response.data)
          .catch(error => console.log(error));
        axios
          .get(`${this.$store.state.url}users/news/` + this.id, {headers: {'Content-Language' : select.title.toLowerCase()}})
          .then(response => this.innerNewsId = response.data.data)
          .catch(error => console.log(error));
      }else{
        axios
          .get(`${this.$store.state.url}users/news`, {headers: {'Content-Language' : 'ru'}})
          .then(response => this.innerNews = response.data)
          .catch(error => console.log(error));
        axios
          .get(`${this.$store.state.url}users/news/` + this.id, {headers: {'Content-Language' : 'ru'}})
          .then(response => this.innerNewsId = response.data.data)
          .catch(error => console.log(error));
      }

    },
    props: ['newsProps'],
    components: {
        homeForms
    }
}
</script>

<style scoped>
    .descr>img{
      width: 100%;
    }
    .news_route{
        padding-top: 30px;
    }
    .newsItemStyle>img{
        float: left;
        margin: 0px 40px 20px 0px;
    }
    .newsItemStyle>h2{
        font-family: "FiraSans-Bold";
        font-size: 25px;
        color: #000;
    }
    .newsItemStyle>p{
        font-family: "FiraSans-Regular";
        font-size: 16px;
        color: #848c92;
    }
    .newsItemStyle{
        padding-bottom: 85px;
    }
</style>
