<template>
<Loader v-if="loader == true" style="top: 125px" />
<div v-else>
  <b-container>
    <b-row>
      <b-col class="block_acc_nav_descr_h2" md="12" sm="12" xl="12" cols="12" lg="12">
        <h2>{{$store.state.transData['Сертификаты']}}</h2>
      </b-col>
    </b-row>
  </b-container>
  <b-container>
    <b-row>
      <b-col md="12" sm="12" xl="12" cols="12" lg="12">
        <Slick class="" ref="slick" :options="slickOptions">
          <div v-for="(certificate, index) in certificates.certificates" :key="index">
            <h2 class="cert_title">{{certificate.year}}</h2>
            <b-container>
              <b-row>
                <div class="cert_wrapper" v-for="(cert,index) in certificate.cycles" :key="index">
                  <h2 class="cert_title_h3">{{cert.title}}</h2>
                  <b-container>
                    <b-row class="cert_wrap">
                      <b-col md="6" class="cert_block" v-for="(c, index) in cert.certificates" :key="index">
                        <a :href="c.certificate" class="cert_btn">
                          <img src="../../../assets/img/certificate.png" />
                        </a>
                        <span @click="delCert(c.order_id)" class="del_btn"><img src="../../../assets/img/exit_red.png" alt=""></span>
                      </b-col>
                    </b-row>
                  </b-container>
                </div>
              </b-row>
            </b-container>
          </div>
        </Slick>
        <div class="slider_cert_btn">
          <div class="prev_cyc"><img class="cyc_d" src="../../../assets/img/cl_blue.png" alt=""><img class="cyc_w" src="../../../assets/img/cl_white.png" alt=""></div>
          <div class="next_cyc"><img class="cyc_d" src="../../../assets/img/cr_blue.png" alt=""><img class="cyc_w" src="../../../assets/img/cr_white.png" alt=""></div>
        </div>
        <b-container>
          <b-row>
            <b-col md="12">
              <form name="upload" class="form_upload" v-if="certificates.status == 1">
                <div>
                  <input @change="fileStatus()" type="file" ref="file" name="myfile" id="myfile" />
                  <label class="cycle_btn" for="myfile">
                    Выберите файл
                  </label>
                </div>
                <button v-if="fileStatusCheck" @click.prevent="uploadSert()" class="cycle_btn btn_upload" type="submit">Загрузить сертификат</button>
              </form>
              <b-progress v-if="uploadPercentage !== 100" :value="uploadPercentage" variant="success" :max="100" show-progress animated></b-progress>
            </b-col>
          </b-row>
        </b-container>
      </b-col>
    </b-row>
  </b-container>
</div>
</template>

<script>
import axios from 'axios'
import Slick from 'vue-slick';
import Loader from '@/views/Loader'

export default {
  data(){
    return {
      loader: true,
      fileLoad: '',
      del: '',
      certificates: '',
      loadSert: '',
      uploadPercentage: 0,
      fileStatusCheck: false,
      slickOptions: {
        infinite: true,
        slidesToShow: 1,
        prevArrow: '.prev_cyc',
        nextArrow: '.next_cyc'
      },
    }
  },
  components: {
    Loader,
    Slick
  },
  beforeUpdate() {
    if (this.$refs.slick) {
        this.$refs.slick.destroy();
    }
  },
  updated() {
    this.$nextTick(function () {
        if (this.$refs.slick) {
            this.$refs.slick.create(this.slickOptions);
        }
    });
  },
  methods: {
    fileStatus(){
      this.fileStatusCheck = true
    },
    delCert(elem){
      let selectItem = localStorage.getItem('language');
      let select = JSON.parse(selectItem);
      if(localStorage.getItem('language')){
        this.selected = select
        axios.delete(`${this.$store.state.url}users/certificates`,
        {
          data: {
            order_id: elem
          },
          headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : select.title.toLowerCase() },
        }).then(res => this.del = res.data.data)
      }else{
        axios.delete(`${this.$store.state.url}users/certificates`,
        {
          data: {
            order_id: elem
          },
          headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : 'ru' },
        }).then(res => this.del = res.data.data)
      }
    },
    cert(){
      let selectItem = localStorage.getItem('language')
      let select = JSON.parse(selectItem)
      if(localStorage.getItem('language')){
        this.selected = select
        axios.get(`${this.$store.state.url}users/certificates`, {headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : select.title.toLowerCase() }})
          .then(res => this.certificates = res.data.data )
      }else{
        axios.get(`${this.$store.state.url}users/certificates`, {headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : 'ru'}})
          .then(res => this.certificates = res.data.data )
      }
    },
    loaderFunc(){
      this.loader = false
    },
    uploadSert(){
      let selectItem = localStorage.getItem('language');
      let select = JSON.parse(selectItem);
      let formData = new FormData();
      this.file = this.$refs.file.files[0];
      formData.append('file', this.file);
      if(localStorage.getItem('language')){
        this.selected = select
        axios({
          method: 'post',
          url: `${this.$store.state.url}users/certificates`,
          headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : select.title.toLowerCase() },
          onUploadProgress: function(progressEvent) {
            this.uploadPercentage = parseInt(Math.round(( progressEvent.loaded / progressEvent.total) * 100))
            console.log(this.uploadPercentage)
          }.bind(this),
          data: formData,
        }).then(res => this.fileLoad = res.data.data).then(this.fileStatusCheck = false)
      }else{
        axios({
          method: 'post',
          url: `${this.$store.state.url}users/certificates`,
          headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : 'ru' },
          onUploadProgress: function(progressEvent) {
            this.uploadPercentage = parseInt(Math.round(( progressEvent.loaded / progressEvent.total) * 100))
            console.log(this.uploadPercentage)
          }.bind(this),
          data: formData,
        }).then(res => this.fileLoad = res.data.data).then(this.fileStatusCheck = false)
      }
    }
  },
  watch: {
    del: function(){
      return this.cert()
    },
    fileLoad: function(){
      return this.cert()
    },
  },
  mounted(){
    this.cert()
    this.loaderFunc()
  }
}
</script>

<style>
.cert_wrap{
  padding-bottom: 20px;
}
.cert_block:hover > .del_btn{
  display:block;
}
.del_btn{
  display: none;
  position: absolute;
  top: 10%;
  right: 15%;
  cursor: pointer;
}
.del_btn > img{
  width: 20px;
}
.btn_upload{
  margin-left: 15px;
}
.form_upload{
  display: flex;
}
#myfile{
  display: none;
}
.cert_wrapper{
  background-color: #fff;
  margin: 15px;
  width: 330px;
}
.cert_title{
  font-size: 36px;
  line-height: 44px;
  color: #003667;
  padding-left: 17px;
}
.cert_title_h3{
  padding-left: 25px;
  color: #003667;
  font-size: 26px;
  line-height: 44px;
}
.slider_cert_btn{
  position: absolute;
  right: 78%;
  display: flex;
  top: 13%;
  z-index: 0;
}
</style>
