<template>
<Loader v-if="loader == true" style="top: 125px" />
<div v-else>
  <b-container>
    <b-row>
      <b-col class="block_acc_nav_descr_h2" md="12" sm="12" xl="12" cols="12" lg="12">
        <h2>{{$store.state.transData['Инструкция']}}</h2>
      </b-col>
    </b-row>
  </b-container>
  <b-container>
    <b-row>
      <b-col md="12" sm="12" xl="12" cols="12" lg="12">
        <div class="instruction_content" v-html="instruction.content"></div>
      </b-col>
    </b-row>
  </b-container>
</div>
</template>

<script>
import axios from 'axios'
import Loader from '@/views/Loader'

export default {
  data(){
    return {
      instruction: '',
      loader: true
    }
  },
  components: {
    Loader
  },
  methods: {
    loaderFunc(){
      this.loader = false
    }
  },
  async mounted(){
    let selectItem = localStorage.getItem('language')
    let select = JSON.parse(selectItem)

    if(localStorage.getItem('language')){
      this.selected = select
      await axios.get(`${this.$store.state.url}users/instructions`, {headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : select.title.toLowerCase() }})
      .then(res => this.instruction = res.data.data )
    }else{
      await axios.get(`${this.$store.state.url}users/instructions`, {headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : 'ru'}})
      .then(res => this.instruction = res.data.data )
    }
    await this.loaderFunc()

  }
}
</script>

<style>
.instruction_content{
  padding: 10px 25px;
  margin: 40px 45px;
  background-color: #fff;
  font-family: 'firaSans-Regular';
}
</style>
