<template>
  <div class="main_modal">
  <div class="modal_overlay">
    <div class="modal_window_anketa fadeInDown" v-wow data-wow-iteration="1">
      <div class="modal_header anketa_header">
        <img src="../../../assets/img/true.png" alt="">
      </div>
      <div class="modal_body">
        <p class="anketa_descr">Анкета успешно сохранена</p>
      </div>
      <div class="modal_footer">
        <router-link to="/account" class="reg_btn" >
            <span>Спасибо</span>
        </router-link>
      </div>
    </div>
  </div>

</div>

</template>

<script>
export default {

}
</script>

<style>
.anketa_descr{
  text-align: center;
}
.anketa_header{
  display: flex;
  justify-content: center;
}
.anketa_header > img{
  margin: 40px 0px;
}
.modal_window_anketa{
  max-width: 350px;
  border-radius: 5px;
  background: #fff;
  margin: 45px auto;
  z-index: 9999;
}
</style>
