<template>
  <section class="accountCycle">

    <Slick class="" ref="slick" :options="slickOptions">
    <div v-for="(cycle_descr, index) in cycle.scale" :key="index">
      <b-container>
        <b-row>
          <b-col md="8" sm="8" cols="12" xl="8" lg="8">
            <h2 class="cycle_title">{{cycle_descr.year}}</h2>

            <div class="cycle_block">
              <b-container>
                <b-row>
                  <b-col md="4" sm="4" cols="12" xl="4" lg="4" v-for="(c, index) in cycle_descr.scale" :key="index">
                    <cycleLevels :lvl="c"></cycleLevels>
                  </b-col>
                </b-row>
              </b-container>
              <div class="load_leaves">
                <span class="load_leaves_percent">{{cycle_descr.percent}}%</span>
                <div class="load" v-if="cycle_descr.percent == 35">
                  <span v-for="(item_cyc, index) in 5" :key="index">
                    <img v-wow :data-wow-duration="index + 's'" class="load_leaves_img fadeInLeft" src="../../../assets/img/load_leaves.png" alt="">
                  </span>
                </div>
                <div class="load" v-else-if="cycle_descr.percent == 65">
                  <span v-for="(item_cyc, index) in 12" :key="index">
                    <img v-wow :data-wow-duration="index + 's'" class="load_leaves_img fadeInLeft" src="../../../assets/img/load_leaves.png" alt="">
                  </span>
                </div>
                <div class="load" v-else-if="cycle_descr.percent == 100">
                  <span v-for="(item_cyc, index) in 18" :key="index">
                    <img v-wow :data-wow-duration="index + 's'" class="load_leaves_img fadeInLeft" src="../../../assets/img/load_leaves.png" alt="">
                  </span>
                </div>
              </div>
              <div class="current_ball">{{cycle_descr.current_ball}}</div>
              <div class="max_ball">{{cycle_descr.max_ball}}</div>
            </div>
          </b-col>
          <b-col md="4" sm="4" cols="12" xl="4" lg="4">
            <div class="cup" v-if="cup.status == 1">
              <div>
                <img class="cup_img" :src="cup.cup.image" alt="" />
              </div>
              <div class="cup_descr">
                <h3 class="cup_h3">{{cup.cup.name}}</h3>
                <p class="cup_p">{{cup.cup.description}}</p>
              </div>
            </div>
            <div class="btns_anketa">
              <router-link v-if="$store.state.profession_id == 2 && testId" to="/anketa" class="cycle_anketa_wrap">
                <div class="cycle_anketa">
                  <img src="../../../assets/img/anketa.png" alt="">
                  <span>Анкета</span>
                </div>
              </router-link>
              <router-link to="/accountCyclePage" class="cycle_btn_wrap">
                <div class="cycle_btn">
                  <img src="../../../assets/img/cycle_btn.png" alt="">
                  <span>Циклы</span>
                </div>
              </router-link>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>
    </Slick>
    <div class="slider_cyc_btn">
      <div class="prev_cyc"><img class="cyc_d" src="../../../assets/img/cl_blue.png" alt=""><img class="cyc_w" src="../../../assets/img/cl_white.png" alt=""></div>
      <div class="next_cyc"><img class="cyc_d" src="../../../assets/img/cr_blue.png" alt=""><img class="cyc_w" src="../../../assets/img/cr_white.png" alt=""></div>
    </div>
  </section>
</template>

<script>
import Slick from 'vue-slick';
import cycleLevels from '@/components/accountComponents/accountCycle/cycleLevels'
import axios from 'axios'
export default {
  data(){
    return{
      slickOptions: {
        infinite: true,
        slidesToShow: 1,
        prevArrow: '.prev_cyc',
        nextArrow: '.next_cyc'
      },
      cycle: {},
      cup: '',
      testId: localStorage.getItem('testId')
    }
  },
  components: { Slick, cycleLevels },
  beforeUpdate() {
    if (this.$refs.slick) {
        this.$refs.slick.destroy();
    }
  },
  updated() {
    this.$nextTick(function () {
        if (this.$refs.slick) {
            this.$refs.slick.create(this.slickOptions);
        }
    });
  },
  mounted(){
    let selectItem = localStorage.getItem('language')
    let select = JSON.parse(selectItem)

    if(localStorage.getItem('language')){
      this.selected = select
       axios.get(`${this.$store.state.url}users/scale`, {headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : select.title.toLowerCase() }}).then(res => this.cycle = res.data.data )
       axios.get(`${this.$store.state.url}users/cup`, {headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : select.title.toLowerCase() }}).then(res => this.cup = res.data.data)
    }else{
       axios.get(`${this.$store.state.url}users/scale`, {headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : 'ru'}}).then(res => this.cycle = res.data.data )
       axios.get(`${this.$store.state.url}users/cup`, {headers: {Authorization: `Bearer ${localStorage.usertoken}`, "Content-Language" : 'ru'}}).then(res => this.cup = res.data.data )
    }
  }
}
</script>

<style>
.cycle_btn_wrap{
  text-decoration: none!important;
}
.cycle_anketa_wrap{
  color: #1d3474;
  text-decoration: none!important;
}
.btns_anketa{
  margin-top: 103px;
}
.load{
  display: inline-flex;
}
.slider_cyc_btn{
  position: absolute;
  right: 38%;
  display: flex;
  top: 25%;
  z-index: 0;
}
.cup_descr{
  padding-left: 15px;
}
.cup{
  display: flex;
  align-items: center;
  padding-top: 95px;
}
.cup_img{
  width: 70px!important;
  height: 70px!important;
}
.load_leaves{
  background: #003667;
  border: 1px solid #84BD00;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  margin: 10px 35px;
}
.load_leaves_percent{
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  z-index: 999;
  font-weight: bold;
  font-family: 'firaSans-Regular';
  position: absolute;
  left: 48%;
  top: 66%;
}
.cup_h3{
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #003667;
  font-family: 'firaSans-Bold';
}
.cup_p{
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-family: 'firaSans-Regular';
  margin: 0px!important;
}
.current_ball{
  padding-left: 40px;
  font-family: 'firaSans-Regular';
  color: #fff;
  font-size: 14px;
  margin: 0px;
}
.max_ball{
  padding-left: 40px;
  font-family: 'firaSans-Regular';
  color: #fff;
  font-size: 12px;
  margin: 0px;
}
.cycle_block{
  background-image: url(../../../assets/img/bg_cycle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1d3474;
  border-radius: 3px;
  color: #fff;
  height: 220px;
  padding: 25px 0px;
  z-index: 0;
}
.cycle_btn{
  background-image: url(../../../assets/img/bg_cycle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1d3474;
  border-radius: 3px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 195px;
  z-index: 1;
  border: none;
  cursor: pointer;
}
.cycle_anketa{
  display: inline-flex;
  align-items: center;
  height: 55px;
  width: 195px;
  background: #FFFFFF;
  box-shadow: 2px 2px 10px 2px rgba(0, 54, 103, 0.2);
  border-radius: 4px;
  margin-bottom: 15px;
}
.cycle_anketa:hover{
  opacity: .7;
  transform: scale(0.9);
  transition: .5s ease-in-out;
  text-decoration: none;
}
.cycle_btn:hover{
  opacity: .7;
  transform: scale(0.9);
  transition: .5s ease-in-out;
  text-decoration: none;
}
.cycle_anketa > span{
  margin-left: 15px;
}
.cycle_btn > span{
  margin-left: 15px;
}
.cycle_anketa > img{
  margin-left: 30px;
  width: 30px;
  height: 30px;
}
.cycle_btn > img{
  width: 30px;
  height: 30px;
}
.cycle_title{
  font-size: 36px;
  line-height: 44px;
  color: #003667;
  text-align: center;
}
.load_leaves_img{
  width: 35px;
}
.cyc_w{
  display: none;
}
.prev_cyc{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 47px;
  height: 25px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 54, 103, 0.15);
  border-radius: 4px;
  margin-right: 10px;
}
.prev_cyc:hover {
  background: #003667;
}
.prev_cyc:hover .cyc_w{
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev_cyc:hover .cyc_d, .next_cyc:hover .cyc_d{
  display: none;
}
.next_cyc{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 47px;
  height: 25px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 54, 103, 0.15);
  border-radius: 4px;
}
.next_cyc:hover{
  background: #003667;
}
.next_cyc:hover .cyc_w{
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
