<template>
  <div class="cycleLevels">
      <h3 class="lvl_title">{{lvl.title}}</h3>
      <div class="lvl_descr">
        <span class="lvl_descr_percent">{{lvl.percent}}</span>
      </div>
      <div class="lvl_descr">
        <span class="lvl_descr_cycle">{{lvl.cycle}}</span>
      </div>
  </div>
</template>

<script>
export default {
  data(){
    return{

    }
  },
  props: ['lvl']
}
</script>

<style>
.cycleLevels{
  text-align: center;
}
.lvl_title{
  font-family: 'firaSans-Regular';
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  text-align: left;
  padding-left: 25px;
}
.lvl_descr:last-child{
  margin-left: 5px;
}
.lvl_descr{
  background: #F5F8FA;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.lvl_descr_percent{
  font-family: 'firaSans-Bold';
  color: #84BD00;
  font-size: 18px;
  line-height: 22px;
}
.lvl_descr_cycle{
  font-family: 'firaSans-Regular';
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
</style>
