<template>
   <div class="about_descr">
      <div v-html="aboutCompany.content"></div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  data(){
    return {
      aboutCompany: []
    }
  },
  methods: {
    aboutCompanyFunc(){
      let selectItem = localStorage.getItem('language')
      if(localStorage.getItem('language') ){
        let select = JSON.parse(selectItem)
        axios
          .get(`${this.$store.state.url}users/about/+${this.$route.params.id}`, {headers: {'Content-Language' : select.title.toLowerCase()}})
          .then(response => this.aboutCompany = response.data.data)
          .catch(error => console.log(error));
      }else{
        axios
          .get(`${this.$store.state.url}users/about/+${this.$route.params.id}`, {headers: {'Content-Language' : 'ru'}})
          .then(response => this.aboutCompany = response.data.data)
          .catch(error => console.log(error));
      }
    }
  },
  mounted(){
    this.aboutCompanyFunc()
  },
  watch: {
    '$route.params.id': function(){
      this.aboutCompanyFunc()
    }
  },
}
</script>

<style>
.about_descr{
  margin-top: -25px;
  text-align: justify;
}
</style>
