<template>
<div>
  <Loader v-if="loader" />
  <div v-else>
        <paginate name="products" :list="products" :per="6" class="paginate-list">
            <b-row>
                <productComponent v-for="product in paginated('products')" :key="product.id" :productProps="product"></productComponent>
            </b-row>
        </paginate>
        <paginate-links v-if="products.length > 6" for="products" :list="products.data" :show-step-links="false" :limit="2" class="paginate_number"></paginate-links>
    </div>
</div>

</template>

<script>
import Loader from '@/views/Loader.vue'
import productComponent from '@/components/productComponent/productComponent'
import axios from 'axios'
export default {
    data(){
        return{
            getId: this.$route.params.id,
            products: [],
            paginate: ['products'],
            loader: true
        }
    },
    methods: {
      productBlock(){
        this.loader = true;
        let selectItem = localStorage.getItem('language')
        if(localStorage.getItem('language') ){
          let select = JSON.parse(selectItem)
          axios({
            method: 'get',
            url: `${this.$store.state.url}users/products`,
            headers: {
              'Content-Language' : select.title.toLowerCase()
            },
            params: {
              catalog_id: this.$route.params.id
            }
          })
          .then(res =>{
            this.products = res.data.data;
            this.loader = false;
          })
        }else{
          axios({
            method: 'get',
            url: `${this.$store.state.url}users/products`,
            headers: {
              'Content-Language' : 'ru'
            },
            params: {
              catalog_id: this.$route.params.id
            }
          })
          .then(res =>{
            this.products = res.data.data;
            this.loader = false;
          })
        }

      }
    },
    watch: {
      '$route.params.id': function(){
        this.productBlock()
      }
    },
    computed: {

    },
    // watch: {
    //   getId: function(oldVal, newVal){
    //     this.getId = this.$route.params.id
    //     console.log('Sss')
    //   }
    // },
    mounted(){
      // let product_id = this.$route.params.id;
      this.productBlock()
    },
    components: {
        productComponent,
        Loader
    }
}
</script>

<style>

</style>
