<template>
<ul class="link_list">
  <li @click="navDropDown(nav.isActiveMenu)">
    <router-link to="" v-if="nav.categories">{{nav.name}}</router-link>
    <router-link v-else :to="'/catalog/'+nav.id">
        <span>{{ nav.name }}</span>
    </router-link>
  </li>
  <li v-if="navDrop">
    <router-link v-for="navInner of nav.categories" :key="navInner.id" class="sub_title" :to="'/catalog/'+navInner.id">
      <span>{{ navInner.name }}</span>
    </router-link>
  </li>
</ul>

</template>

<script>
export default {
  data(){
    return {
      navDrop: false,
    }
  },

  props: ['nav'],
  methods: {
      navDropDown(drop){
        if(drop == 1){
          this.navDrop = !this.navDrop
        }else{
          this.navDrop = false
        }
      }
    },
}
</script>

<style>

</style>
