<template>
<div>
  <Loader v-if="loader" />
  <div v-else>
  <div>
      <div class="product">
          <div class="product_inner_img">
              <img :src="inner_items.image" alt="">
          </div>
          <h2>{{inner_items.name}}</h2>
          <p v-html="inner_items.description"></p>
          <p v-html="inner_items.indication_for_use"></p>
          <p v-html="inner_items.drug_properties"></p>
          <p v-html="inner_items.composition"></p>
          <p v-html="inner_items.dosage"></p>
          <p v-html="inner_items.faq"></p>

      </div>
  </div>
    <!-- <input type="checkbox" id="reg_checkbox" /> -->
    <!-- <label for="reg_checkbox" class="product_inner_label">Инструкция к препарату</label> -->
    <div class="btn_in_inner_product" v-if="inner_items.documents[0]">
      <a md="7" class="download_pdf" :href="inner_items.documents[0].file">{{inner_items.documents[0].name}}</a>
      <b-col md="1"></b-col>
      <a md="4" class="expert_fitoring" href="">Стать экспертом Фитониринга®</a>
    </div>
</div>
</div>
</template>

<script>
import axios from 'axios'
import Loader from '@/views/Loader.vue'
export default {
    data(){
        return{
          loader: true,
          inner_items: {
            documents: [
              {
                file: "",
                name:"",
              }


            ]
          }
        }
    },
    components: {
      Loader
    },
    methods: {
      productInner(){
        this.loader = true
        let selectItem = localStorage.getItem('language')
        if(localStorage.getItem('language') ){
        let select = JSON.parse(selectItem)
          axios
          .get(`${this.$store.state.url}users/products/${this.$route.params.id}`, {headers: {'Content-Language' : select.title.toLowerCase()}})
          .then(res => {
            this.inner_items = res.data.data;
            this.loader = false;
          })
        }else{
          axios
          .get(`${this.$store.state.url}users/products/${this.$route.params.id}`, {headers: {'Contet-Language' : 'ru'}})
          .then(res => {
            this.inner_items = res.data.data;
            this.loader = false;
          })
        }
      }
    },
    watch: {
      '$route.params.id': function(){
        this.productInner()
      }
    },
    mounted(){
      this.productInner()
    }
}
</script>

<style>
.btn_in_inner_product{
    text-transform: uppercase;
    font-family: "FiraSans-Bold";
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 40px;
}
.download_pdf{
  background-image: url('../../assets/img/btn_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #84bd00;
  border-radius: 3px;
  color: #fff;
  padding: 15px 30px;
}
.download_pdf:hover, .expert_fitoring:hover{
  opacity: .7;
  transform: scale(0.9);
  -webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.expert_fitoring{
    padding: 15px 30px;
    background-image: url('../../assets/img/btn_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1d3474;
    border-radius: 3px;
    color: #fff;
}
.download_pdf:hover, .expert_fitoring:hover{
    text-decoration: none;
    color: #ccc;
}
.product_inner_label{
    font-size: 20px;
    font-family: "FiraSans-Regular";
    color: #7d7c7c;
    padding-top: 20px;
}
.product_inner_label::before{
    margin-right: 18px;
}
.product_inner_img{
    display: flex;
    justify-content: center;
    border: 1px solid #cecece;
    border-radius: 10px;
}
.product_inner_img>img{
    height: 550px;
    min-height: 400px;
    padding: 40px 0px;
}
.product_inner_list{
    list-style-type: none;
    list-style-image: url('../../assets/img/li_green.png');
    margin: 0;
    padding: 0;
}
.listok{
    padding-left: 15px;
}
.product>h2{
    font-family: "FiraSans-Bold";
    font-size: 25px;
    color: #000;
}
.product>h3{
    font-family: "FiraSans-Bold";
    font-size: 20px;
    color: #000;
}
.product>p{
    color: #7d7c7c;
    font-size: 16px;
    font-family: "FiraSans-Regular";
}
.listok{
    font-family: "FiraSans-Regular";
    color: #7d7c7c;
    font-size: 16px;
}

</style>
